@import basic.platform._

@basic.platform.main("平台"){@meta()}{@styles()}{@scripts()}{<hr/>}{

<h1><center>模板2</center></h1>

}{

<!-- content -->
<div class="ym-wrapper" style="background-color: #3de">
	<div class="ym-wbox">
		<div class="ym-grid linearize-level-1" id="dataResult">
		</div>
	</div>
</div>

<script>

	function getData(agentId, eduId, instructorId){
		if(agentId != ""){
    	ajaxBasic("/template/templateAgentCourses", "id=" + agentId, "GET", "#dataResult");
    } else if (eduId != ""){
    	ajaxBasic("/template/templateEduCourses", "id=" + eduId, "GET", "#dataResult");
    } else if (instructorId != ""){
    	ajaxBasic("/template/templateInstructorCourses", "id=" + instructorId, "GET", "#dataResult");
    }
	}

	getData("@flash().get("agentId")", "@flash().get("eduId")", "@flash().get("instructorId")");
</script>
}{@footer()}
