<!-- layout styles -->
<link rel="stylesheet" href="yaml/core/base.css" />
<link rel="stylesheet" href="css/screen/hlist.css" />
<link rel="stylesheet" href="css/screen/vlist.css" />
<link rel="stylesheet" href="css/screen/gray-theme.css" />
<link rel="stylesheet" href="css/screen/typography.css" />
<link rel="stylesheet" href="css/screen/screen.css" />
<link rel="stylesheet" href="css/print/print.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="yaml/core/iehacks.css"/>
  <![endif]-->