@import basic.teacher._

@basic.teacher.main("后台"){@meta()}{@styles()}{@scripts()}{@header()}{@leftmenu()}{@nav()}{
<div style="min-height: 500px">
	<p><b>基本信息管理</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getTeacherPage(this, 'teacherInfo')">信息管理</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getTeacherPage(this, 'teacherDomain')">域名管理</button>
		</div>
	</div>

	<p><b>课程信息管理</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getTeacherPage(this, 'teacherCourseInfo')">培训课程管理</button>
		</div>
	</div>

	<p><b>报名管理</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getTeacherPage(this, 'teacherEnrollInfo')">报名信息管理</button>
		</div>
	</div>
</div>

}{@footer()}
