@(models: com.avaje.ebean.Page[Domain])

@import basic.common._
@initTooltip()
@baseUrl=@{
	var url = "teacherDomain";
	url
}

@toolbar_header={
<div class="row">
	<div class="span2">
		<h4>域名管理</h4>
	</div>
	<div class="btn-toolbar pull-right" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-success" href="#" onclick="getTeacherPage(this, 'domainDetail', 'addNew=true');"><i
				class="icon-plus icon-white"></i>新增</a>
		</div>
	</div>
</div>
} 

@toolbar(domain: Domain)={
<!-- <script type="text/javascript">
$('#toolbar').tooltip(options);
</script> -->

@dialogDelete("删除域名", Domain.TABLE_NAME, domain.id){
	确定删除&nbsp;
	<b style="font-size:x-large;color:red">
	@{
		if(domain.domain != null){
			domain.domain
		}
	}
	</b>&nbsp;？
}

<div class="pull-left" style="width:130px;">
	<div class="btn-group">
		<a class="btn btn-danger" rel="tooltip" title="删除，请谨慎操作！" href="#" onclick="doDelete(@domain.id)"><i
			class="icon-remove icon-white"></i></a>
	</div>
</div>
} 

@toolbar_header

<div class="table-responsive">
	<div style="overflow: auto">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>域名</th>
					<th>操作</th> 
				</tr>
			</thead>
			<tbody>
				@for(model <- models.getList()){
				<tr>
					<td>@model.id</td>
					@if(model.domain != null){
						<td><a href="#" onclick="getAgentPage(this, 'teacherDetail', 'id=@model.id');">@model.domain</a></td>
					} else {
						<td>-未设置-</td>
					}
					<td>@toolbar(model)</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@paging(models, {baseUrl}, "teacher")
