<div id="footer">
	<div class="ym-wrapper"> 		        
		<div class="ym-wbox">		                
			 <div class="ym-grid"> 			                    
				<div class="ym-g66 ym-gl"> 			                              
				      <div class="ym-gbox-left">				                                    
				        <p>Copyright © 2013 XX培训网官方网站 版权所有 xx培训网 <br/>京ICP备XXXXXX号-1</p>							                              
				      </div>			                    
				</div> 			                    
				<div class="ym-g33 ym-gr"> 			                              
				      <div class="ym-gbox-right">				                                    
				        <p>网站制作：<a href="http://monsterstormblog.aws.af.cm/" title="野人工作室">→ 野人工作室</a></p>	                    
				      </div>			                    
			 	</div>        
			</div> 
			
				<div class="ym-grid"> 	
					<div class="ym-g16 ym-gl">  	     
						<div class="ym-gbox">         
						  <a href="#">关于我们</a>
						</div>
					</div>
					<div class="ym-g16 ym-gl"> 
						<div class="ym-gbox">
				 	 	<a href="#">联系我们</a>
						</div>
					</div>

					<div class="ym-g16 ym-gl"> 
						<div class="ym-gbox">
				  			<a href="#">诚聘英才</a>
						</div>
					</div>

					<div class="ym-g16 ym-gl"> 
						<div class="ym-gbox">
				 			<a href="#">版权声明</a>
						</div>
					</div>

					<div class="ym-g16 ym-gl"> 
						<div class="ym-gbox">
							<a href="#">设为首页</a>
						</div>
					</div>

					<div class="ym-g16 ym-gl"> 
						<div class="ym-gbox">
				 			<a href="#">收藏本站</a>	
				 		 </div>    
					</div>
				</div>

		</div>
	</div>
</div>


