<div id="footer"> 	    
  <div class="ym-wrapper"> 		
		<hr/>         
    <div class="ym-wbox">		                
      <div class="ym-grid"> 			   
        <div class="ym-g66 ym-gl"> 			                              
          <div class="ym-gbox-left">				                                    
          <span style="color:#333333;font-family:Simsun;line-height:20px;">© Copyright 2013 XX培训网官方网站 版权所有 xx培训网<br/>京ICP备XXXXXX号-1</span>      
          </div>			                    
        </div> 			                    
        <div class="ym-g33 ym-gr"> 			                              
          <div class="ym-gbox-right">				                                    
              <span style="color:#333333;font-family:Simsun;line-height:20px;">网站制作：<a href="http://monsterstormblog.aws.af.cm/" title="野人工作室">→ 野人工作室</a> </span>                     
          </div>			                    
        </div>        
      </div> 	              
      <div class="nav"><a href="#">关于我们</a><a href="#">联系我们</a><a href="#">诚聘英才</a><a href="#">版权声明</a><a href="#">设为首页</a><a href="#">收藏本站</a>		</div>	      	    
    </div>  
  </div>
</div> 