<!--header模块-->  
  <div class="ym-wrapper"> 		    
    <div class="ym-wbox">		        
			<img src="@routes.Assets.at("/public", "images/logo.png")"  alt="橡果教育分销平台" width="500px" height="120px"/>
			
			<div style="float:right;padding:10px">
			 @if(session.contains("account")) {
	        <a href="#"><span class="label label-info">@session.get("account")</span></a>
	        @if(session.contains("user_roles")) {
          	@if(session.get("user_roles").contains("1")  ){
          		<a href="@routes.EducationController.page("index")">我是教育机构</a>
          	}
          	@if(session.get("user_roles").contains("2")  ){
          		<a href="@routes.TeacherController.page("index")">我是讲师</a>
          	}
         		@if(session.get("user_roles").contains("3")  ){
          		<a href="@routes.AgentController.page("index")">我是代理人</a>
          	}
          	@if(session.get("user_roles").contains("4")  ){
          		<a href="@routes.StudentController.page("index")">我是学员</a>
          	}
          	@if(session.get("user_roles").contains("6")  ){
          		<a href="@routes.AdminController.page("index")">我是管理员</a>
          	}
        	}
  	      <a href="@routes.PlatformController.logout()">注销</a>
        } else {
        	<a href="@routes.PlatformController.page("login")">登录</a>
        	<a href="@routes.PlatformController.page("register")">注册</a>
        }
        
      </div>
	  	<!--搜索框开始-->
	 	 	<!--<div id="search-wrapper" class="ym-g33 ym-gr"> 			            
          <div class="ym-gbox-right">				            
            <form id="search" role="search" method="post" action=""> 				                		                
                <input type="text" name="keywords" class="input" size="28" maxlength="100"/>                
                <input type="submit" class="send" value="搜索"/>              
            </form> 				            		            
          </div>			        
      </div>-->


    </div>
  </div> 	
  
