<div class="ym-wrapper">
	<div class="ym-wbox">
		<h1>培训项目招生分销平台</h1>
		<div class="ym-hlist">
			<ul>
				<li><a href="@routes.PlatformController.page("index")">主页</a></li>
				<li><a href="@routes.PlatformController.page("course")">热门课程</a></li>
				<li><a href="@routes.PlatformController.page("news")">行业新闻</a></li>
				<li><a href="@routes.PlatformController.page("contact_us")">联系我们</a></li>
				<li><a href="@routes.PlatformController.page("register")">注册</a></li>
				@if(session.contains("account")) {
				<li><a href="#">欢迎&nbsp;<span class="label label-info">@session.get("account")</span></a></li>
				<li><a href="@routes.PlatformController.logout()">注销</a></li>
				}
				@if(!session.contains("account")) {
				<li><a href="@routes.PlatformController.page("login")">登录</a></li>
				}
				<li></li>
			</ul>
		</div>
	</div>
</div>
