<!--导航模块-->  
<div class="ym-wrapper"> 		    
    <div class="ym-wbox">		        
      <div role="navigation" id="nav">			        
        <ul class="ym-grid">			            
          <li class="w16 ym-gl" id="current"><a href="@routes.PlatformController.page("index")">首页 </a></li>			            
          <li class="w16 ym-gl"><a href="@routes.PlatformController.page("course")">热门课程 </a></li>			            
          <li class="w16 ym-gl"><a href="#">师资介绍</a></li>			            
          <li class="w16 ym-gl"><a href="@routes.PlatformController.page("news")">行业资讯</a></li>			            
          <li class="w16 ym-gl"><a href="#">政府内训</a></li>			            
          <li class="last w16 ym-gr"><a href="@routes.PlatformController.page("contact_us")">联系我们 </a></li>			        
        </ul>		        
      </div>
	</div>
</div>
