<!-- default scripts -->
<script src="@routes.Assets.at("/public", "javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("/public", "bootstrap/js/bootstrap.js")" type="text/javascript"></script>

<script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/jquery.form.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/spin.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("/public", "layoutit/js/scripts.js")"></script>
<!-- self defined scripts -->
<script src="@routes.Assets.at("/public", "javascripts/main.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("/public", "javascripts/cst.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("/public", "javascripts/khx.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("/public", "javascripts/ver-scroll.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("/public", "javascripts/ver-scroll.vticker-min.js")" type="text/javascript"></script>