<!-- default yaml layout styles -->
<link href="@routes.Assets.at("/public", "bootstrap3/css/bootstrap.min.css")" rel="stylesheet">

<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4/yaml/core/base.css")" />
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4/css/screen/hlist.css")" />
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4/css/screen/vlist.css")" />
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4/css/screen/gray-theme.css")" />
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4/css/screen/typography.css")" />
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4/css/screen/screen.css")" />
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4/css/print/print.css")" />

<link href="@routes.Assets.at("/public", "layoutit/css/bootstrap.min.css")" rel="stylesheet">
<link href="@routes.Assets.at("/public", "layoutit/css/bootstrap-responsive.min.css")" rel="stylesheet">
<link href="@routes.Assets.at("/public", "layoutit/css/style.css")" rel="stylesheet">


<!--[if lte IE 8]>
    <link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4/yaml/core/iehacks.css")"/>
<![endif]-->


<!-- self defined styles -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("/public", "stylesheets/main.css")">
