<!-- default yaml layout styles -->
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4-new/yaml/core/base.css")" />

<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4-new/css/screen/hlist.css")" />
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4-new/css/screen/vlist.css")" />
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4-new/css/screen/gray-theme.css")" />
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4-new/css/screen/typography.css")" />
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4-new/css/screen/screen.css")" />
<link rel="stylesheet" href="@routes.Assets.at("/public", "yaml4-new/css/print/print.css")" />

<link href="@routes.Assets.at("/public", "stylesheets/khx.css")" rel="stylesheet">

<link href="@routes.Assets.at("/public", "layoutit/css/bootstrap.min.css")" rel="stylesheet">
<link href="@routes.Assets.at("/public", "layoutit/css/bootstrap-responsive.min.css")" rel="stylesheet">
<link href="@routes.Assets.at("/public", "layoutit/css/style.css")" rel="stylesheet">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("/public", "stylesheets/main.css")">


 <!--link rel="stylesheet/less" href="l@routes.Assets.at("/public", "layoutit/ess/bootstrap.less")" type="text/css" /-->
<!--link rel="stylesheet/less" href="@routes.Assets.at("/public", "layoutit/less/responsive.less")" type="text/css" /-->

<!--append ‘#!watch’ to the browser URL, then refresh the page. -->

<!-- <link href="@routes.Assets.at("/public", "layoutit/css/bootstrap.min.css")" rel="stylesheet">
<link href="@routes.Assets.at("/public", "layoutit/css/bootstrap-responsive.min.css")" rel="stylesheet">
<link href="@routes.Assets.at("/public", "layoutit/css/style.css")" rel="stylesheet">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="@routes.Assets.at("/public", "layoutit/img/apple-touch-icon-144-precomposed.png")">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="@routes.Assets.at("/public", "layoutit/img/apple-touch-icon-114-precomposed.png")">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="@routes.Assets.at("/public", "layoutit/img/apple-touch-icon-72-precomposed.png")">
<link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("/public", "layoutit/img/apple-touch-icon-57-precomposed.png")">
<link rel="shortcut icon" href="@routes.Assets.at("/public", "layoutit/img/favicon.png")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("/public", "stylesheets/main.css")"> -->

