@import basic.platform._

@basic.platform.main("平台"){@meta()}{@styles()}{@scripts()}{<hr/>}{

<h1><center>模板4</center></h1>

}{

<!-- content -->
<div class="ym-wrapper" style="background-color: green">
	<div class="ym-wbox">
		<div class="ym-grid linearize-level-1" id="agentCourses">
		</div>
	</div>
</div>

<script>
	function getAgentCourses(li, url, data){
		 data = data || "";
     ajaxBasic("/agent/" + url, data, "GET", "#agentCourses");
		 $("#navList li.active").removeClass("active");
		 $(li).addClass("active");
	}

	getAgentCourses(this, "templateAgentCourses", "id=@flash().get("agentId")");
</script>
}{@footer()}
