@(models: com.avaje.ebean.Page[NewsType])

@import basic.common._

@baseUrl=@{
	var url = "adminNewsType";
	url
}

@toolbar_header={
<div class="row">
	<div class="span2">
		<h4>新闻类型</h4>
	</div>
	<div class="btn-toolbar pull-right" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-success" data-toggle="新增" href="#" onclick="getCommonPage(this, 'newsTypeDetail', 'addNew=true');"><i
				class="icon-plus icon-white"></i>新增</a>
		</div>
	</div>
</div>
} 

@toolbar(newsType: NewsType)={
<!-- <script type="text/javascript">
$('#toolbar').tooltip(options);
</script> -->

@dialogDelete("删除新闻类型", NewsType.TABLE_NAME, newsType.id){
	确定删除&nbsp;
	<b style="font-size:x-large;color:red">
	@{
		if(newsType.name != null){
			newsType.name
		}
	}
	</b>&nbsp;？
}

<div class="pull-left" style="width:130px;">
	<div class="btn-group">
		<a class="btn btn-danger" data-toggle="删除，请谨慎操作！" href="#" onclick="doDelete(@newsType.id)"><i
			class="icon-remove icon-white"></i></a>
	</div>
</div>
} 

@toolbar_header

<div class="table-responsive">
	<div style="overflow: auto">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>新闻类型</th>
					<th>类型说明信息</th>
				</tr>
			</thead>
			<tbody>
				@for(model <- models.getList()){
				<tr>
					<td>@model.id</td>
					@if(model.name != null){
						<td><a href="#" onclick="getCommonPage(this, 'newsTypeDetail', 'id=@model.id');">@model.name</a></td>
					} else {
						<td>-</td>
					}
					@if(model.info != null){
						<td>@model.info</td>
					} else {
						<td>-</td>
					}
					<td>@toolbar(model)</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@paging(models, {baseUrl}, "admin")