@(models: List[Rebate])

@toolbar_header={
<div class="row">
	<div class="span2">
		<h4>返点管理</h4>
	</div>
	<div class="btn-toolbar pull-right" role="toolbar">
		<div class="btn-group">
			<button type="button" class="btn btn-default">所有待收款</button>
			<button type="button" class="btn btn-default">所有已收款</button>
		</div>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				排序 <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">按时间</a></li>
				<li><a href="#">按名称</a></li>
			</ul>
		</div>
	</div>
</div>
} 

@toolbar={
<!-- <script type="text/javascript">
$('#toolbar').tooltip(options);
</script> -->
<div class="pull-left" style="width:130px;">
	<div class="btn-group" id="toolbar">
		<a class="btn btn-success" data-toggle="确认收款" href="#"><i class="icon-ok icon-white"></i></a> 
    <a class="btn btn-info"	data-toggle="拒绝通过" href="#"><i class="icon-ban-circle icon-white"></i></a>
	</div>
</div>
} 

@paging={
<div class="pagination">
	<ul>
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</div>
} 

@toolbar_header

<div class="table-responsive">
	<div style="overflow: auto">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>课程名</th>
					<th>总人数</th>
					<th>总金额(元)</th>
					<th>教育机构已确认收款人数</th>
					<th>教育机构已确认收款金额(元)</th>
					<th>平台已确认收款人数</th>
					<th>平台已确认收款金额(元)</th>
					<th>代理人已确认收款人数</th>
					<th>代理人已确认收款金额(元)</th>
					<th>操作</th> 
				</tr>
			</thead>
			<tbody>
				@for(model <- models){
				<tr>
					<td>@model.id</td>
					<td><a href="#" onclick="getCommonPage(this, 'courseDetail', 'courseId=@model.course.id');">@model.course.name</a></td>
					<td>@model.numOfStudents</td>
					<td>@model.totalMoney</td>
					<td>@model.numEduAdmit</td>
					<td>@model.moneyEduAdmit</td>
					<td>@model.numPlatformAdmit</td>
					<td>@model.moneyPlatformAdmit</td>
					<td>@model.numAgentAdmit</td>
					<td>@model.moneyAgentAdmit</td>
					<td>@toolbar</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@paging
