@(models: com.avaje.ebean.Page[Rebate])

@import basic.common._

@baseUrl=@{
	var url = "adminRebates";
	url
}

@toolbar_header={
<div class="row">
	<div class="span2">
		<h4>返点管理</h4>
	</div>
	<div class="btn-toolbar pull-right" role="toolbar">
		<div class="btn-group" id="btnGroup">
			<button type="button" class="btn btn-default  @checkActive("status", "-1")" onclick="@buildAction({baseUrl}, "admin", Array("status"), Array("-1"))">所有</button>
			<button type="button" class="btn btn-default  @checkActive("status", "1")" onclick="@buildAction({baseUrl}, "admin", Array("status"), Array("1"))">所有待收款</button>
			<button type="button" class="btn btn-default  @checkActive("status", "2")" onclick="@buildAction({baseUrl}, "admin", Array("status"), Array("2"))">所有已收款</button>
		</div>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				排序 <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class="@checkActive("orderby", "course.name-asc")"><a onclick="@buildAction({baseUrl}, "admin", Array("orderby"), Array("course.name-asc"))">按名称-升序</a></li>
				<li class="@checkActive("orderby", "course.name-desc")"><a onclick="@buildAction({baseUrl}, "admin", Array("orderby"), Array("course.name-desc"))">按名称-降序</a></li>
			</ul>
		</div>
	</div>
</div>
} 

@toolbar(rebate: Rebate)={
<!-- <script type="text/javascript">
$('#toolbar').tooltip(options);
</script> -->
@dialogConfirm("确认收款", String.valueOf(rebate.id), String.valueOf("doConfirmReceipt('" + rebate.id + "', {id:" + rebate.id + "});")){
	确认收款&nbsp;
	<b style="font-size:x-large;color:red">
	@{
		if(rebate != null && rebate.distribution != null && rebate.distribution.course != null){
			rebate.distribution.course.name
		}
	}
	</b>&nbsp;？
}

<div class="pull-left" style="width:130px;">
	<div class="btn-group" id="toolbar">
		<a class="btn btn-info" data-toggle="查看详细" href="#" onclick="getCommonPage(this, 'rebateDetail', 'id=@rebate.id');"><i
			class="icon-eye-open icon-white"></i></a> 
	</div>
	<div class="btn-group" id="toolbar">
		<!--EDU, Admin, Agent-->
		@if((session.get(LoginController.KEY_USER_ROLES).indexOf(String.valueOf(Role.ROLE_EDU)) != -1 && rebate.lastReceiptOfEdu == null)
				|| (session.get(LoginController.KEY_USER_ROLES).indexOf(String.valueOf(Role.ROLE_ADMIN)) != -1 && rebate.lastReceiptOfPlatform == null)
				|| (session.get(LoginController.KEY_USER_ROLES).indexOf(String.valueOf(Role.ROLE_AGENT)) != -1 && rebate.lastReceiptOfAgent == null)){
			<a class="btn btn-success" data-toggle="确认收款" href="#" onclick="showConfirm('@String.valueOf(rebate.id)')"><i class="icon-ok icon-white"></i></a>
		} else {
			<span class="btn btn-success disabled" data-toggle="确认收款" href="#"><i class="icon-ok icon-white"></i></span>
		}
		
	</div>
</div>
} 

@toolbar_header

<div class="table-responsive">
	<div style="overflow: auto">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>课程名</th>
					<th>总人数</th>
					<th>总金额(元)</th>
					<th>教育机构已确认收款人数</th>
					<th>教育机构已确认收款金额(元)</th>
					<th>平台已确认收款人数</th>
					<th>平台已确认收款金额(元)</th>
					<th>代理人已确认收款人数</th>
					<th>代理人已确认收款金额(元)</th>
					<th>操作</th> 
				</tr>
			</thead>
			<tbody>
				@for(model <- models.getList()){
				<tr>
					<td>@model.id</td>
					@if(model.distribution != null && model.distribution.course != null){
						<td><a href="#" onclick="getCommonPage(this, 'courseDetail', 'id=@model.distribution.course.id');">@model.distribution.course.name</a></td>
					} else {
						<td>-</td>
					}
					

					@if(model.numOfStudents != null){
						<td>@model.numOfStudents</td>
					} else {
						<td>-</td>
					}
					@if(model.totalMoney != null){
						<td>@model.totalMoney</td>
					} else {
						<td>-</td>
					}
					

					@if(model.numEduAdmit != null){
						<td>@model.numEduAdmit</td>
					} else {
						<td>-</td>
					}
					@if(model.moneyEduAdmit != null){
						<td>@model.moneyEduAdmit</td>
					} else {
						<td>-</td>
					}
					

					@if(model.numPlatformAdmit != null){
						<td>@model.numPlatformAdmit</td>
					} else {
						<td>-</td>
					}
					@if(model.moneyPlatformAdmit != null){
						<td>@model.moneyPlatformAdmit</td>
					} else {
						<td>-</td>
					}
					

					@if(model.numAgentAdmit != null){
						<td>@model.numAgentAdmit</td>
					} else {
						<td>-</td>
					}
					
					@if(model.moneyAgentAdmit != null){
						<td>@model.moneyAgentAdmit</td>
					} else {
						<td>-</td>
					}
					<td>@toolbar(model)</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@paging(models, {baseUrl}, "admin")
