<div style="min-height: 500px">
	<p><b>常用管理</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminCourses')">培训项目管理</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminNews')">新闻管理</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminMessages')">查看留言</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminStudentWords')">学员感言</button>
		</div>
	</div>

	<p><b>人员管理</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminEdus')">教育机构管理</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminInstructors')">讲师管理</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminStudents')">学员管理</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminAgents')">代理人管理</button>
		</div>
	</div>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminUsers')">用户管理</button>
		</div>
	</div>

	<p><b>数据和统计</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminRebates')">业务返点</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminAdvertisments')">广告和统计</button>
		</div>
	</div>

	<p><b>系统设置</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminContracts')">协议管理</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminTemplateTypes')">模板管理</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminCourseType')">项目类型管理</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminCourseClass')">项目类别管理</button>
		</div>
		<div class="span2">
				<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminNewsType')">新闻类型管理</button>
			</div>

	</div>
	
	<p><b>日志</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAdminPage(this, 'adminLoginLogs')">系统日志</button>
		</div>
	</div>
</div>
