@import basic.admin._

@basic.admin.main("后台"){@meta()}{@styles()}{@scripts()}{@header()}{@leftmenu()}{@nav()}{
<div class="span2">
	<button type="button" class="btn btn-large btn-primary">Large
		button</button>
</div>
<div class="span2">
	<button type="button" class="btn btn-large btn-primary">Large
		button</button>
</div>
<div class="span2">
	<button type="button" class="btn btn-large btn-primary">Large
		button</button>
</div>
<div class="span3">
	<button type="button" class="btn btn-large btn-primary">Large
		button</button>
</div>
}{@footer()}
