@(model: EducationInstitution, user:User)

@import basic.common._
@import basic.common.basicform._

@bootstrapDatetimepicker()
@toolbar_header={
<div class="row">
	<div class="span2">
	@if(model != null){
		<h4>机构详情</h4>
	} else {
		<h4>新增子帐号</h4>
	}
	</div>
	<div class="btn-toolbar pull-right" role="toolbar">
		<div class="btn-group">
			@if(model == null){
				<a class="btn btn-info" data-toggle="修改" href="#" onclick="toggleAllEdit(this, '#myform')"><i
				class="icon-edit icon-white"></i>修改</a>
			}
		</div>
	</div>
</div>
} 

<script type="text/javascript">
    $(document).ready( function() {
			$('#myform').submit(function() {
		    $(this).ajaxSubmit(ajaxSubmitOptions);
		    return false;
			});
		});
</script>


@toolbar_header

<div class="table-responsive">
	<div style="overflow: auto">
		<form class="form-horizontal" id="myform" method="post" action="@routes.EducationController.addOrUpdateEntity()">
	
			@form_validate_info()
			@if(model != null &&model.creator!=null && model.creator.basicInfo != null){
				@inputText("真实姓名", "realname", model.creator.basicInfo.realname, true)
			}else{ 
				@inputText("真实姓名", "realname", null, false)
			}
  		
			@if(model != null && model.creator != null && model.creator.basicInfo != null){
				@inputSelect("性别", "sex", String.valueOf(model.creator.basicInfo.sex), true){
					<option value="1" onclick="changeValue('#btnCourseType', '男')">男</option>
	      	<option value="0" onclick="changeValue('#btnCourseType', '女')">女</option>
				}
			} else{
				@inputSelect("性别", "sex", null, false){
					<option value="1" onclick="changeValue('#btnCourseType', '男')">男</option>
	      	<option value="0" onclick="changeValue('#btnCourseType', '女')">女</option>
				}
			}
				
			@if(model != null && model.creator != null && model.creator.basicInfo != null){
				@inputText("身份证号", "idcard", model.creator.basicInfo.idcard, true)
			} else{
				@inputText("身份证号", "idcard", null, false)
			}
  		
			@if(model != null && model.creator != null && model.creator.basicInfo != null){
				@datetimePicker("出生日期", "birthday", model.creator.basicInfo.birthday)				
			} else{
				@datetimePicker("出生日期", "birthday")
			}
			
			@if(model != null && model.creator != null && model.creator.basicInfo != null){
				@inputText("座机号码", "phone", model.creator.basicInfo.phone, true)
			} else{
				@inputText("座机号码", "phone", null, false)
			}
	
			@if(model != null && model.creator != null){
				@inputText("手机号码", "mobile", model.creator.mobile, true)
			}else{
				@inputText("手机号码", "mobile", null, false)
			}
				
			@if(model != null && model.creator != null && model.creator.basicInfo != null){
				@inputText("QQ号码", "qq", model.creator.basicInfo.qq, true)
			}else{
				@inputText("QQ号码", "qq", null, false)
			}
  		
  		@if(model != null && model.creator != null){
				@inputText("Email", "email", model.creator.email, true)
			} else{
				@inputText("Email", "email", null, false)
			}
			
			@if(model != null && model.creator != null && model.creator.basicInfo != null){
				@textarea("联系地址", "address", model.creator.basicInfo.address, true)
			} else{
				@textarea("联系地址", "address", null, false)
			}
			
			@if(model != null){
				@textarea("机构简介", "info", model.info, true)
			} else {
				@textarea("机构简介", "info", null, false)
			}

			@if(model != null){
				@inputText("教育机构名称", "name", model.name, true)
			} else {
				@inputText("教育机构名称", "name", null, false)
			}
  		
			<input class="input-large" type="hidden" name="table" value="@EducationInstitution.TABLE_NAME">
			@if(model != null){
				<input class="input-large" type="hidden" name="id" value="@model.id">
			} else {
				<input class="input-large" type="hidden" name="id">
			}

			<hr>
			<div class="control-group row">
		    		<div class="controls">
							@if(model != null){
		      			<!--不让修改<button type="submit" class="btn btn-large btn-success btn-block span2 disabled">提交</button>-->
		      		} else {
		      			<button type="submit" class="btn btn-large btn-success btn-block span2">提交</button>
		      		}
			    	</div>
			  </div>
		</form>
	</div>
</div>
