<div style="min-height: 500px">
	<p><b>基本信息管理</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getEducationPage(this, 'educationInstitution')">查看教育机构</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getEducationPage(this, 'eduDomain')">域名管理</button>
		</div>
	</div>

	<p><b>课程信息管理</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getEducationPage(this, 'educationCourses')">查看教育机构课程</button>
		</div>
	</div>

	<p><b>审核管理</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getEducationPage(this, 'allCourseDistribution')">代理审核管理</button>
		</div>
	</div>
</div>
