<ul class="nav nav-list">
	<li class="nav-header">普通用户</li>
	<li class="active"><a href="#">主页</a></li>
	<li><a href="#">在线报名</a></li>
	<li><a href="#">我的课程</a></li>
	<li><a href="#">QQ咨询功能</a></li>
	<li><a href="#">选择辅助功能</a></li>

	<li class="nav-header">教育机构</li>
	<li class="active"><a href="#">主页</a></li>
	<li><a href="#">培训项目管理</a></li>
	<li><a href="#">奖励机制管理</a></li>
	<li><a href="#">统计及结算</a></li>
	<li><a href="#">专属推广页面</a></li>
	<li><a href="#">常见问题及解答</a></li>
	<li><a href="#">问答辅助功能</a></li>

	<li class="nav-header">讲师</li>
	<li class="active"><a href="#">主页</a></li>
	<li><a href="#">培训课程管理</a></li>
	<li><a href="#">奖励机制管理</a></li>
	<li><a href="#">统计及结算</a></li>
	<li><a href="#">专属推广页面</a></li>
	<li><a href="#">常见问题及解答</a></li>
	<li><a href="#">问答辅助功能</a></li>

	<li class="nav-header">代理人</li>
	<li class="active"><a href="#">主页</a></li>
	<li><a href="#">个性化页面</a></li>
	<li><a href="#">选择辅助功能</a></li>
	<li><a href="#">管理模板</a></li>
	<li><a href="#">查看返点奖励</a></li>
	<li><a href="#">管理培训项目</a></li>
	<li><a href="#">学员报名功能</a></li>
	<li><a href="#">在线留言</a></li>
	<li><a href="#">在线咨询</a></li>
	<li><a href="#">在线报名</a></li>
	<li><a href="#">查看报名情况</a></li>

	<li class="nav-header">管理员</li>
	<li class="active"><a href="#">主页</a></li>
	<li><a href="#">审核功能</a></li>
	<li><a href="#">查看功能</a></li>
	<li><a href="#">管理教育机构</a></li>
	<li><a href="#">管理代理人</a></li>
	<li><a href="#">找回账户和密码</a></li>
	<li><a href="#">前端主页面</a></li>
	<li><a href="#">前端主页面</a></li>
	<li><a href="#">代理协议管理</a></li>
	<li><a href="#">广告点击侦测和统计</a></li>
	<li><a href="#">系统日志</a></li>
	<li class="divider"></li>
</ul>