<script type="text/javascript">
	function handleData(data, extraIds){
		/**
		 * 处理过滤
		 */
		 //console.dir(data);
		 //console.dir(extraIds);
		 if(extraIds){
		 		data = "";
		 		var array = extraIds.split(";");
		 		for(var i = 0; i < array.length; i++){
		 			
					var obj = $("#foldcontent [name='" + array[i] + "']");
					//console.dir(i);
					//console.dir(obj);
					//console.dir(obj.val());
					//console.dir($(obj).prop("selectedIndex"));
					
					var value = obj.val();
					
					if(value){//有值，则取值
						if($(obj).is("select")){
							if($(obj).prop("selectedIndex") == 0)//选中的是默认的一个，则不使用该数据
								continue;
						}
					
						if(data != ""){//data不空
							data = data + "&" + array[i] + "=" + value;
						} else {
							data = "" + array[i] + "=" + value;
						}
					} else if(value == undefined){//undefined，则看是不是时间控件
						obj = $("#start" + array[i] + "_form_datetime_long");
						
						//console.dir("#start" + array[i] + "_form_datetime_long");
						
						if(obj.val() != undefined){							
							value = obj.val() + ":" + $("#end" + array[i] + "_form_datetime_long").val();		
							if(data != ""){//data不空
								data = data + "&" + array[i] + "=" + value;
							} else {
								data = "" + array[i] + "=" + value;
							}					
						}					
					}
				}
		 }
		 
		 data = data || "";
		 return data;
	}

  function getPage(li, domain, url, data){
     data = data || "";
  
     ajaxBasic("/" + domain + "/" + url, data, "GET", "#content");
		 $("#navList li.active").removeClass("active");
		 $(li).addClass("active");
  }
	
	function getAdminPage(li, url, data, extraIds){
		 
		 data = handleData(data, extraIds);
		 
     ajaxBasic("/admin/" + url, data, "GET", "#content");
     if(li){//如果给定了li才改变选中状态，否则不改变
		 	$("#navList li.active").removeClass("active");
		 	$(li).addClass("active");
		 }
		 $('#' + url).addClass("active");
	}
	
  function getCommonPage(li, url, data){
     data = data || "";
     ajaxBasic("/common/" + url, data, "GET", "#content");
     $('#' + url).addClass("active");
  }
  
	function getTemplatePage(li, url, data){
     data = data || "";
     ajaxBasic("/template/" + url, data, "GET", "#content");
     if(li){//如果给定了li才改变选中状态，否则不改变
		 	$("#navList li.active").removeClass("active");
		 	$(li).addClass("active");
		 }
		 $('#' + url).addClass("active");
  }
  
  function changeValue(item, value){
      $(item).html(value);
  }
  
	function toggleActive(item){
  	  $(item).toggleClass("active");
  }
  
	/*toggle actives*/
	function toggleActive(item, div){
		var items = div + ".active";
		$(items).removeClass("active");
		//$(item).addClass("active");
		$(item).toggleClass("active");
	}

	function toggleEdit(parent){
		$(parent).toggleClass("readonly");
	}
	
	function toggleDisabled(parent){
		$(parent).toggleClass("disabled");
	}
	
	function toggleAllEdit(item, parent){
		var editors = $(parent + " [readonly='readonly']");
	  if(editors && editors.length > 0){
	  	editors.removeAttr("readonly");
	  	toggleDisabled(parent + " button");
	  	
	  	$(parent + " .my_readyonly").prop("readonly", true);//所有标记为noedit的域重新添加readonly
	  	$(parent + " button[type=submit]").removeClass("disabled");
			$(parent + " button[type=submit]").removeAttr("disabled");
	  } else {
			$(parent + " input").attr("readonly", "readonly");
			$(parent + " textarea").attr("readonly", "readonly");
			$(parent + " select").attr("readonly", "readonly");
			toggleDisabled(parent + " button");
			
			$(parent + " button[type=submit]").addClass("disabled");
			$(parent + " button[type=submit]").prop("disabled", true);
		}
		toggleActive(item);
	}
	
	//add a new 
	function doAddNew(parent){
		var editors = $(parent + " [readonly='readonly']");
    if(editors && editors.length > 0){
	  	editors.removeAttr("readonly");
	  }
	  $(parent + " .my_readyonly").prop("readonly", true);//所有标记为noedit的域重新添加readonly
	  
	  $(parent + " input[name!='table']").attr("value", "");//把属性不是table的值置为空
	  $(parent + " textarea").html("");
		$(parent + " select").attr("selectedIndex", "0");
		$(parent + " button[type=submit]").removeClass("disabled");
		$(parent + " button[type=submit]").prop("disabled", false);
	}
	
	function doEdit(item){
			var editors = $("#contractDetail [readonly='readonly']");
			console.dir(editors);
	    if(editors && editors.length > 0){
	       editors.removeAttr("readonly");
	    } else {
	       $("#contractDetail input").attr("readonly", "readonly");
	       $("#contractDetail textarea").attr("readonly", "readonly");
	    }
	    
	    toggleActive(item);
	}
	
  function doDelete(id){
  	 var dialog = '#dialogModal_' + id;
     $(dialog).modal();
  }
  
	function showConfirm(id){
		var dialog = '#dialogConfirm_' + id;
    $(dialog).modal();
	}
  
	function doDeleteEntity(id, data){
     ajaxDelete("/common/delete", data, "POST", "#content");
     var dialog = '#dialogModal_' + id;
     $(dialog).modal('hide');
	}
	
	function doUseTemplate(id, data){
		ajaxBasic("/template/use", data, "POST", "#content");
		var dialog = '#dialogModal_' + id;
    $(dialog).modal('hide');
	}
	
	function doAdminAudit(id, data){
		ajaxBasic("/audit/admin", data, "POST", "#content");
		var dialog = '#dialogConfirm_' + id;
    $(dialog).modal('hide');
	}
	
	function doConfirmReceipt(id){
		var money = $(":input[name=money]").val();
		var info = $(":input[name=info]").val();
		var data = "{id:" + id;
		
		if(money){
			data += ",money:" + money;
		}
		
		if(info){
			data += ",info:" + info;
		}
		
		data += "}";
		
		ajaxBasic("/common/confirmReceipt", data, "POST", "#content");
		var dialog = '#dialogConfirm_' + id;
    $(dialog).modal('hide');
	}
</script>

<ul class="nav nav-list" id="navList">
	<li class="nav-header">管理员</li>
	<li id="home" class="active" onclick="getAdminPage(this, 'home')"><a href="#">主页</a></li>
	<li class="divider"></li>
	<li class="nav-header">常用管理</li>
	<li id="adminCourses" onclick="getAdminPage(this, 'adminCourses')"><a href="#">培训项目管理</a></li>
	<li id="adminNews" onclick="getAdminPage(this, 'adminNews')"><a href="#">新闻管理</a></li>
	<li id="adminMessages" onclick="getAdminPage(this, 'adminMessages')"><a href="#">查看留言</a></li>
	<li id="adminStudentWords" onclick="getAdminPage(this, 'adminStudentWords')"><a href="#">学员感言</a></li>
	<li class="divider"></li>
	<li class="nav-header">人员管理</li>
	<li id="adminEdus" onclick="getAdminPage(this, 'adminEdus')"><a href="#">教育机构管理</a></li>
	<li id="adminInstructors" onclick="getAdminPage(this, 'adminInstructors')"><a href="#">讲师管理</a></li>
	<li id="adminStudents" onclick="getAdminPage(this, 'adminStudents')"><a href="#">学员管理</a></li>
	<li id="adminAgents" onclick="getAdminPage(this, 'adminAgents')"><a href="#">代理人管理</a></li>
	<li id="adminUsers" onclick="getAdminPage(this, 'adminUsers')"><a href="#">用户管理</a></li>
	<li id="useTemplate" onclick="getTemplatePage(this, 'useTemplate')"><a href="#">使用模板</a></li>

	<li class="divider"></li>
	<li class="nav-header">数据和统计</li>
	<li id="adminRebates" onclick="getAdminPage(this, 'adminRebates')"><a href="#">业务返点</a></li>
	<li id="adminAdvertisments" onclick="getAdminPage(this, 'adminAdvertisments')"><a href="#">广告和统计</a></li>	
	
	<li class="divider"></li>
	<li class="nav-header">系统设置</li>
	<li id="adminContracts" onclick="getAdminPage(this, 'adminContracts')"><a href="#">协议管理</a></li>
	<li id="adminTemplateTypes" onclick="getAdminPage(this, 'adminTemplateTypes')"><a href="#">模板管理</a></li>
	<li id="adminCourseType" onclick="getAdminPage(this, 'adminCourseType')"><a href="#">项目类型管理</a></li>
	<li id="adminNewsType" onclick="getAdminPage(this, 'adminNewsType')"><a href="#">新闻类型管理</a></li>
	
	<li class="divider"></li>
	<li class="nav-header">日志</li>
	<li id="adminLoginLogs" onclick="getAdminPage(this, 'adminLoginLogs')"><a href="#">系统日志</a></li>

	<!--<li class="nav-header">普通用户</li>
	<li><a href="#">主页</a></li>
	<li><a href="#">在线报名</a></li>
	<li><a href="#">我的课程</a></li>
	<li><a href="#">QQ咨询功能</a></li>
	<li><a href="#">选择辅助功能</a></li>

	<li class="nav-header">教育机构</li>
	<li><a href="#">主页</a></li>
	<li><a href="#">培训项目管理</a></li>
	<li><a href="#">奖励机制管理</a></li>
	<li><a href="#">统计及结算</a></li>
	<li><a href="#">专属推广页面</a></li>
	<li><a href="#">常见问题及解答</a></li>
	<li><a href="#">问答辅助功能</a></li>

	<li class="nav-header">讲师</li>
	<li><a href="#">主页</a></li>
	<li><a href="#">培训课程管理</a></li>
	<li><a href="#">奖励机制管理</a></li>
	<li><a href="#">统计及结算</a></li>
	<li><a href="#">专属推广页面</a></li>
	<li><a href="#">常见问题及解答</a></li>
	<li><a href="#">问答辅助功能</a></li>

	<li class="nav-header">代理人</li>
	<li><a href="#">主页</a></li>
	<li><a href="#">个性化页面</a></li>
	<li><a href="#">选择辅助功能</a></li>
	<li><a href="#">管理模板</a></li>
	<li><a href="#">查看返点奖励</a></li>
	<li><a href="#">管理培训项目</a></li>
	<li><a href="#">学员报名功能</a></li>
	<li><a href="#">在线留言</a></li>
	<li><a href="#">在线咨询</a></li>
	<li><a href="#">在线报名</a></li>
	<li><a href="#">查看报名情况</a></li>-->
	
</ul>