@(title: String)(meta: Html)(styles: Html)(scripts: Html)(header:
Html)(leftmenu: Html)(nav: Html)(content: Html)(footer: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title> @meta @styles @scripts

</head>
<body>
	<div class="container">
		<div class="row">@header</div>
		<div class="row">
			<div class="span2">
				<div class="sider-bar nav well">@leftmenu</div>
			</div>
			<div class="span10">
				<div class="well">
					@nav
					@content
				</div>
			</div>
		</div>
		<div class="row">@footer</div>
	</div>
</body>
</html>
