<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Contentpage - Your Company</title>
  <meta name="description" content=""/>
  <meta name="robots" content="index, follow"/>

  <!-- mobile viewport configuration -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- layout styles -->
  <link rel="stylesheet" href="yaml/core/base.css"/>
  <link rel="stylesheet" href="css/screen/hlist.css"/>
  <link rel="stylesheet" href="css/screen/vlist.css"/>
  <link rel="stylesheet" href="css/screen/gray-theme.css"/>
  <link rel="stylesheet" href="css/screen/typography.css"/>
  <link rel="stylesheet" href="css/screen/screen.css"/>
  <link rel="stylesheet" href="css/print/print.css"/>
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="yaml/core/iehacks.css"/>
  <![endif]-->
</head>
<body>
<body>
  <body>  
    <body>      
      <body>            
        <nav>                        
          <div class="ym-wrapper">                                    
            <div class="ym-wbox">                                                
              <h1>Your Company</h1>                                                
              <div class="ym-hlist">                                                            
                <ul>                                                                        
                  <li><a href="#">Home</a></li>                                                                        
                  <li><a href="#">About</a></li>                                                                        
                  <li><a href="#">News</a></li>                                                                        
                  <li><a href="#">Portfolio</a></li>                                                                        
                  <li><a href="#">Contact</a></li>                                                            
                </ul>                                                
              </div>                                    
            </div>                        
          </div>            
        </nav>            
        <header>                        
          <div class="ym-wrapper">                                    
            <div class="ym-wbox teaser">                                                
              <img src="http://placehold.it/1200x180" alt="dummy image" class="flexible"/>                                    
            </div>                        
          </div>            
        </header>            
        <main>                        
          <div class="ym-wrapper">                                    
            <div class="ym-wbox">                                                
              <div class="ym-grid linearize-level-1">                                                            
                <div class="ym-g66 ym-gl">                                                                        
                  <div class="ym-gbox-left">                                                                                    
                    <h2>平台简单介绍</h2>                                                                                                            
                    <p>平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍.</p>                                                                                    
                    <h3>联系方式</h3>                                                                                    
                    <p>联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式.</p>                                                                                    
                    <h3>在线留言</h3>                                                                                                                                
                    <form>                                                                                      
                      <h6 class="ym-fbox-heading">联系我们</h6>                                                                        
                      <div class="ym-fbox">                                                                                  
                        <div class="ym-fbox-wrap ym-grid">                                                                                            
                          <div class="ym-g33 ym-gl">                                                                                                      
                            <div class="ym-gbox-left">                                                                                                                
                              <label for="your-id1">联系原因</label>                                                                                                                
                              <select name="your-id1" id="your-id1" size="1">                                                                                                                          
                                <option value="0">Please choose one</option>                                                                                                                          
                                <option value="1">Select</option>                                                                                                                          
                                <option value="2">Select</option>                                                                                                                
                              </select>                                                                                                      
                            </div>                                                                                            
                          </div>                                                                                            
                          <div class="ym-g33 ym-gl">                                                                                                      
                            <div class="ym-gbox">                                                                                                                
                              <label for="your-id2">您的姓名<sup class="ym-required" title="This field is mandatory.">*</sup></label>                                                                                                                
                              <input type="text" name="your-id2" id="your-id2"/>                                                                                                      
                            </div>                                                                                            
                          </div>                                                                                            
                          <div class="ym-g33 ym-gr">                                                                                                      
                            <div class="ym-gbox-right">                                                                                                                
                              <label for="your-id3">邮箱地址<sup class="ym-required" title="This field is mandatory.">*</sup></label>                                                                                                                
                              <input type="text" name="your-id3" id="your-id3"/>                                                                                                      
                            </div>                                                                                            
                          </div>                                                                                  
                        </div>                                                                        
                      </div>                                                                        
                      <div class="ym-fbox">                                                                                  
                        <label for="your-id4">主题<sup class="ym-required" title="This field is mandatory.">*</sup></label>                                                                                  
                        <input type="text" name="your-id4" id="your-id4"/>                                                                        
                      </div>                                                                        
                      <div class="ym-fbox">                                                                                  
                        <label for="your-id5">您的留言</label>                                                                                  
                        <textarea name="your-id5" id="your-id5" rows="6"></textarea>                                                                        
                      </div>                                                                        
                      <div class="ym-fbox-footer">                                                                                  
                        <button type="submit" class="ym-primary ym-email" id="submit-your-id4">发送</button>                                                                        
                      </div>                                                              
                    </form>                                                                
                  </div>                                                            
                </div>                                                            
                <div class="ym-g33 ym-gr">                                                                        
                  <div class="ym-gbox-right">                                                                                    
                    <h5>加盟商</h5>                                                                                    
                    <ul>                                                                                                
                      <li>加盟商 A</li>                                                                                                
                      <li>加盟商 B</li>                                                                                                
                      <li>加盟商 C</li>                                                                                                
                      <li>加盟商 D</li>                                                                                                
                      <li>加盟商 E</li>                                                                                    
                    </ul>                                                                                    
                    <h5>广告</h5>                                                                                    
                    <ul>                                                                                                
                      <li>广告 1</li>                                                                                                
                      <li>广告 2</li>                                                                                                
                      <li>广告 3</li>                                                                                                
                      <li>广告 4</li>                                                                                                
                      <li>广告 5</li>                                                                                    
                    </ul>                                                                        
                  </div>                                                            
                </div>                                                
              </div>                                    
            </div>                        
          </div>            
        </main>            
        <footer>                        
          <div class="ym-wrapper">                                    
            <div class="ym-wbox">                                                
              <div class="ym-grid linearize-level-1">                                                            
                <div class="ym-g66 ym-gl">                                                                        
                  <div class="ym-gbox-left">                                                                                    
                    <p>Copyright © Your Company, 2013</p>                                                                                    
                    <p>This template is based on <a href="http://yaml.de">YAML</a> and was created with&nbsp;<a href="http://www.thinkintags.com">Thinkin' Tags</a></p>                                                                        
                  </div>                                                            
                </div>                                                            
                <div class="ym-g33 ym-gr">                                                                        
                  <div class="ym-gbox-right">                                                                                    
                    <p>Follow us:</p>                                                                                    
                    <ul>                                                                                                
                      <li>Twitter</li>                                                                                                
                      <li>Facebook</li>                                                                                                
                      <li>Google+</li>                                                                                    
                    </ul>                                                                        
                  </div>                                                            
                </div>                                                
              </div>                                    
            </div>                        
          </div>            
        </footer>      
      </body>  
    </body>
  </body>
</body>
</body>
</html>