<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Homepage - Your Company</title>
  <meta name="description" content=""/>
  <meta name="robots" content="index, follow"/>

  <!-- mobile viewport configuration -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- layout styles -->
  <link rel="stylesheet" href="yaml/core/base.css"/>
  <link rel="stylesheet" href="css/screen/hlist.css"/>
  <link rel="stylesheet" href="css/screen/vlist.css"/>
  <link rel="stylesheet" href="css/screen/gray-theme.css"/>
  <link rel="stylesheet" href="css/screen/typography.css"/>
  <link rel="stylesheet" href="css/screen/screen.css"/>
  <link rel="stylesheet" href="css/print/print.css"/>
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="yaml/core/iehacks.css"/>
  <![endif]-->
</head>
<body>
<body>
  <body>  
    <body>      
      <body>            
        <nav>                          
          <div class="ym-wrapper">                                        
            <div class="ym-wbox">                                                      
              <h1>我是分销商</h1>                                                      
              <div class="ym-hlist">                                                                    
                <ul>                                                                                  
                  <li></li>                                                                                  
                  <li><a href="#">主页</a></li>                                                                                  
                  <li><a href="#">所有课程</a></li>                                                                                  
                  <li></li>                                                                                  
                  <li><a href="#">联系我们</a></li>                                                                    
                </ul>                                                      
              </div>                                        
            </div>                          
          </div>            
        </nav>            
        <header>                          
          <div class="ym-wrapper">                                        
            <div class="ym-wbox teaser">                                                      
              <img src="http://placehold.it/1200x360" alt="dummy image" class="flexible"/>                                                      
              <div class="overlay">                                                                    
                <h3>关注培训，专注优质课程</h3>                                                                    
                <p>我们为您提供优质课程，专心为您服务</p>                                                      
              </div>                                        
            </div>                          
          </div>            
        </header>            
        <main>                          
          <div class="ym-wrapper">                                        
            <div class="ym-wbox">                                                      
              <div class="ym-grid linearize-level-1">                                                                    
                <div class="ym-g33 ym-gl">                                                                                  
                  <div class="ym-gbox-left">                                                                                                
                    <h2>热门课程1</h2>                                                                                                
                    <img src="http://placehold.it/360x96" alt="dummy image" class="flexible"/>                                                                                                
                    <p>热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程。</p>                                                                                  
                  </div>                                                                    
                </div>                                                                    
                <div class="ym-g33 ym-gl">                                                                                  
                  <div class="ym-gbox">                                                                                                
                    <h2>热门课程2</h2>                                                                                                
                    <img src="http://placehold.it/360x96" alt="dummy image" class="flexible"/>                                                                                                
                    <p>热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程</p>                                                                                  
                  </div>                                                                    
                </div>                                                                    
                <div class="ym-g33 ym-gl">                                                                                  
                  <div class="ym-gbox-right">                                                                                                
                    <h2>热门课程3</h2>                                                                                                
                    <img src="http://placehold.it/360x96" alt="dummy image" class="flexible"/>                                                                                                
                    <p>热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程热门课程</p>                                                                                  
                  </div>                                                                    
                </div>                                                      
              </div>                                        
            </div>                          
          </div>            
        </main>            
        <footer>                          
          <div class="ym-wrapper">                                        
            <div class="ym-wbox">                                                      
              <div class="ym-grid linearize-level-1">                                                                    
                <div class="ym-g66 ym-gl">                                                                                  
                  <div class="ym-gbox-left">                                                                                                
                    <p>Copyright ©lulinyao.com, 2013</p>                                                                                                
                    <p>本网站由<a href="http://www.google.com.cn">绿林妖</a>联合制作</p>                                                                                  
                  </div>                                                                    
                </div>                                                                    
                <div class="ym-g33 ym-gr">                                                                                  
                  <div class="ym-gbox-right">                                                                                                
                    <p>关注我们：</p>                                                                                                
                    <ul>                                                                                                              
                      <li>新浪微博</li>                                                                                                              
                      <li>微信</li>                                                                                                              
                    </ul>                                                                                  
                  </div>                                                                    
                </div>                                                      
              </div>                                        
            </div>                          
          </div>            
        </footer>      
      </body>  
    </body>
  </body>
</body>
</body>
</html>