@(models: List[Course], divid : String = null)

@import basic.common._
@initTooltip()
@baseUrl=@{
	var url = "adminCourses";
	url
}

@toolbar(course: Course)={
<!-- <script type="text/javascript">
$('#toolbar').tooltip(options);
</script> -->

@dialogDelete("删除课程", Course.TABLE_NAME, course.id){
	确定删除&nbsp;
	<b style="font-size:x-large;color:red">
	@{
		if(course.name != null){
			course.name
		}
	}
	</b>&nbsp;？
}

@dialogConfirm("确定审核通过", String.valueOf("y" + course.id), String.valueOf("doAdminAudit('" + String.valueOf("y" + course.id) + "', {id:" + course.id + ",status:" + Audit.STATUS_SUCCESS + ",table:'" + Course.TABLE_NAME + "'});")){
	确定审核通过&nbsp;
	<b style="font-size:x-large;color:red">
	@{
		if(course.name != null){
			course.name
		}
	}
	</b>&nbsp;？
}


@dialogConfirm("确定拒绝通过", String.valueOf("n" + course.id), "doAdminAudit('n" + course.id + "', {id:" + course.id + ",status:" + Audit.STATUS_FAILED + ",table:'" + Course.TABLE_NAME + "'})"){
	确定拒绝通过&nbsp;
	<b style="font-size:x-large;color:red">
	@{
		if(course.name != null){
			course.name
		}
	}
	</b>&nbsp;？
}

<div class="pull-left" style="width:130px;">
	<div class="btn-group" id="toolbar">
		@if(course.audit != null && course.audit.status != Audit.STATUS_SUCCESS){
			<a class="btn btn-success" rel="tooltip" title="审核通过" href="#" onclick="showConfirm('@String.valueOf("y" + course.id)')"><i class="icon-ok icon-white"></i></a> 
		} else {
			<span class="btn disabled" rel="tooltip" title="审核通过" href="#"><i class="icon-ok icon-white"></i></span>
		}
		
		@if(course.audit != null && course.audit.status != Audit.STATUS_FAILED){
			<a class="btn btn-info"	rel="tooltip" title="拒绝通过" href="#" onclick="showConfirm('@String.valueOf("n" + course.id)')"><i class="icon-ban-circle icon-white"></i></a>
		} else {
			<span class="btn disabled"	rel="tooltip" title="拒绝通过" href="#"><i class="icon-ban-circle icon-white"></i></span>
		}
	</div>
	<div class="btn-group">
		<a class="btn btn-danger" rel="tooltip" title="删除，请谨慎操作！" href="#" onclick="doDelete(@course.id)"><i
			class="icon-remove icon-white"></i></a>
	</div>
</div>
} 

<div @if(divid){id="@divid"} class="table-responsive">
	<div style="overflow: auto">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>课程名</th>
					<th>课程类别</th>
					<th>教育机构</th>
					<th>开课时间</th>
					<!--<th>简介</th>-->
					<th>操作</th> 
				</tr>
			</thead>
			<tbody>
				@for(model <- models){
				<tr>
					<td>@model.id</td>
					@if(model.name != null){
						<td><a href="#" onclick="getCommonPage(this, 'courseDetail', 'id=@model.id');">@model.name</a></td>
					} else {
						<td>-</td>
					}
					@if(model.courseType != null){
						<td>@model.courseType.name</td>
					} else {
						<td>-</td>
					}
					@if(model.edu != null){
						<td><a href="#" onclick="getCommonPage(this, 'eduDetail', 'id=@model.edu.id');">@model.edu.name</a></td>
					} else {
						<td>-</td>
					}
					@if(model.startTime != null){
						<td>@datetime_formatter(model.startTime, true)</td>
					} else {
						<td>-</td>
					}
					<!--@if(model.info != null){
						<td>@model.info</td>
					} else {
						<td>-</td>
					}-->
					<td>@toolbar(model)</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>
