@(models: Course, divid: String=null)

@import basic.common._
@import basic.common.basicform._
@initTooltip()
@baseUrl=@{
	var url = "qands";
	url
}

<script type="text/javascript">
    
</script>

@toolbarAddNew()={
	@if(models != null){
		<form class="form-horizontal" id="myform" method="post" action="@routes.CommonController.addOrUpdateEntity()">
		<div id="qands_content">
		<tr>
			<td>
				@if(models.qands != null){
					@{models.qands.size() + 1}
				} else {
					1			
				}
			</td>
			<td>@models.name</td>
			<td>@inputTextShort(null, "question", null, false)</td>
			<td>@inputTextShort(null, "answer", null, false)</td>
			<td>now</td>
			<td><button type="submit" class="btn btn-success">新增</button></td>
		</tr>
		<input class="input-large" type="hidden" name="table" value="@QAndS.TABLE_NAME">
		@if(models != null){
			<input class="input-large" type="hidden" name="courseId" value="@models.id">
		} else {
			<input class="input-large" type="hidden" name="courseId">
		}
		</div>
		</form>
	}
}

@toolbar(qands: QAndS)={
<!-- <script type="text/javascript">
$('#toolbar').tooltip(options);
</script> -->

@dialogDelete("删除问答", QAndS.TABLE_NAME, qands.id){
	确定删除&nbsp;
	<b style="font-size:x-large;color:red">
	@{
		if(qands.question != null){
			qands.question
		}
	}
	</b>&nbsp;？
}

<div class="pull-left" style="width:130px;">
	<div class="btn-group">
		<a class="btn btn-danger" rel="tooltip" title="删除，请谨慎操作！" href="#" onclick="doDelete(@qands.id)"><i
			class="icon-remove icon-white"></i></a>
	</div>
</div>
} 

<div  @if(divid){id="@divid"} class="table-responsive">
	<div style="overflow: auto">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>课程</th>
					<th>问题</th>
					<th>答案</th>
					<th>创建时间</th>
				</tr>
			</thead>
			<tbody>
				@if(models != null){
					@for(model <- models.qands){
					<tr>
					<td>@model.id</td>
					@if(model.course != null){
							<td><a href="#" onclick="getCommonPage(this, 'courseDetail', 'id=@model.course.id');">@model.course.name</a></td>
						} else {
							<td>-</td>
						}
					@if(model.question != null){
							<td>@model.question</td>
						} else {
							<td>-</td>
						}
					@if(model.answer != null){
							<td>@model.answer</td>
						} else {
							<td>-</td>
						}
					@if(model.addTime != null){
							<td>@datetime_formatter(model.addTime, true)</td>
						} else {
							<td>-</td>
						}
					<td>@toolbar(model)</td>
				</tr>
					}
				}
				@toolbarAddNew()
			</tbody>
		</table>
	</div>
</div>
