@(model: Student, divid: String=null)
@import basic.common._
@import basic.common.basicform._
@bootstrapDatetimepicker()
<script type="text/javascript">
    $(document).ready( function() {
			$('#myform').submit(function() {
		    $(this).ajaxSubmit(ajaxSubmitOptions);
		    return false;
			});
		});
</script>

<div @if(divid){id="@divid"} class="table-responsive">
	<div style="overflow: auto">
		<form class="form-horizontal" id="myform" method="post" action="@routes.CommonController.addOrUpdateEntity()">
	
			@form_validate_info()

			@if(model != null){
				@inputText("学员名称", "name", model.name, true)
			} else {
				@inputText("学员名称", "name", null, false)
			}
  		
			@if(model != null && model.user != null && model.user.basicInfo != null){
				@inputSelect("性别", "user.basicInfo.sex", String.valueOf(model.user.basicInfo.sex), true){
					<option value="1" onclick="changeValue('#btnCourseType', '男')">男</option>
	      	<option value="0" onclick="changeValue('#btnCourseType', '女')">女</option>
				}
			} else {
				@inputSelect("性别", "user.basicInfo.sex", null, false){
					<option value="1" onclick="changeValue('#btnCourseType', '男')">男</option>
	      	<option value="0" onclick="changeValue('#btnCourseType', '女')">女</option>
				}
			}
			
			@if(model != null){
				@inputText("公司名称", "companyName", model.companyName, true)
			} else {
				@inputText("公司名称", "companyName", null, false)
			}
			
			@if(model != null){
				@inputText("职务", "position", model.position, true)
			} else {
				@inputText("职务", "position", null, false)
			}
				
			@if(model != null && model.user != null && model.user.basicInfo != null){
				@inputText("身份证号", "user.basicInfo.idcard", model.user.basicInfo.idcard, true)
			} else {
				@inputText("身份证号", "user.basicInfo.idcard", null, false)
			}
  		
			@if(model != null && model.user != null && model.user.basicInfo != null){
				@datetimePicker("出生日期", "user.basicInfo.birthday", model.user.basicInfo.birthday)				
			} else {
				@datetimePicker("出生日期", "user.basicInfo.birthday")
			}
			
			@if(model != null && model.user != null && model.user.basicInfo != null){
				@inputText("座机号码", "user.basicInfo.phone", model.user.basicInfo.phone, true)
			} else {
				@inputText("座机号码", "user.basicInfo.phone", null, false)
			}
	
			@if(model != null && model.user != null){
				@inputText("手机号码", "user.mobile", model.user.mobile, true)
			} else {
				@inputText("手机号码", "user.mobile", null, false)
			}
				
			@if(model != null && model.user != null && model.user.basicInfo != null){
				@inputText("QQ号码", "user.basicInfo.qq", model.user.basicInfo.qq, true)
			} else {
				@inputText("QQ号码", "user.basicInfo.qq", null, false)
			}
  		
  		@if(model != null && model.user != null){
				@inputText("Email", "user.email", model.user.email, true)
			} else {
				@inputText("Email", "user.email", null, false)
			}
			
			@if(model != null && model.user != null && model.user.basicInfo != null){
				@textarea("联系地址", "user.basicInfo.address", model.user.basicInfo.address, true)
			} else {
				@textarea("联系地址", "user.basicInfo.address", null, false)
			}
			
			@if(model != null){
				@textarea("额外信息", "info", model.info, true)
			} else {
				@textarea("额外信息", "info", null, false)
			}
  		
			<input class="input-large" type="hidden" name="table" value="@Student.TABLE_NAME">
			@if(model != null){
				<input class="input-large" type="hidden" name="id" value="@model.id">
			} else {
				<input class="input-large" type="hidden" name="id">
			}

			<hr>
			<div class="control-group row">
    		<div class="controls">
					@if(model != null){
      			<button type="submit" class="btn btn-large btn-success btn-block span2" disabled="disabled">提交</button>
      		} else {
      			<button type="submit" class="btn btn-large btn-success btn-block span2">提交</button>
      		}
    	</div>
  </div>
</form>
	</div>
</div>
