@(model:Rebate)

@import basic.common._
@import basic.common.basicform._
@initTooltip()
@bootstrapDatetimepicker()

@toolbar_header={
<div class="row">
	<div class="span2">
		<h4>分账确认</h4>
	</div>
</div>
} 

<script type="text/javascript">
    $(document).ready( function() {
			$('#myform').submit(function() {
		    $(this).ajaxSubmit(ajaxSubmitOptions);
		    return false;
			});
		});
</script>


@toolbar_header
<div class="table-responsive">
	<div style="overflow: auto">
		<form class="form-horizontal" id="myform" method="post" action="@routes.AgentController.addOrUpdateEntity()">
	
			@form_validate_info()
			@inputText("课程名称", "coursename", model.distribution.course.name, true)		
			@inputText("代理名称", "agentname", model.distribution.agent.name, true)
			@datetimePicker("开课时间", "coursetime", model.distribution.course.startTime,true)
	
			@if(model != null && model.numOfStudents != null ){
				@inputNumber("学生人数", "stunum", model.numOfStudents, true)
			}else{
				@inputNumber("学生人数", "stunum", null, true)
			}

			@if(model != null && model.totalMoney != null ){
				@inputNumber("学费总额", "stutime", model.totalMoney,true)
			}else{
				@inputNumber("学费总额", "stutime", null,true)
			}
			
			@if(model != null && model.numEduAdmit != null ){
				@inputNumber("教育机构确认收款人数", "numEduAdmit", model.numEduAdmit, true)
			}else{
				@inputNumber("教育机构确认收款人数", "numEduAdmit", null, true)
			}

			@if(model != null && model.lastReceiptOfEdu != null && model.lastReceiptOfEdu.money != null){
				@inputNumber("教育机构最终确认金额", "lastReceiptOfEdu.money", model.lastReceiptOfEdu.money, true)
			}else{
				@inputNumber("教育机构最终确认金额", "lastReceiptOfEdu.money", null, true)
			}
			@if(model != null && model.lastReceiptOfEdu != null && model.lastReceiptOfEdu.info != null){
				@textarea("教育机构最终确认说明", "lastReceiptOfEdu.info", model.lastReceiptOfEdu.info, true)
			}else{
				@textarea("教育机构最终确认说明", "lastReceiptOfEdu.info", null, true)
			}
			
			@if(model != null && model.lastReceiptOfEdu != null && model.lastReceiptOfEdu.time != null){
				@datetimePicker("教育机构最终确认时间", "lastReceiptOfEdu.time", model.lastReceiptOfEdu.time, true)
			}else{
				@datetimePicker("教育机构最终确认时间", "lastReceiptOfEdu.time", null, true)
			}
			
			@if(model != null && model.rebateToAgent != null){
				@inputNumber("平台向代理人返利金额", "rebateToAgent", model.rebateToAgent, true)
			}else{
				@inputNumber("平台向代理人返利金额", "rebateToAgent", null, true)
			}


			@if(model != null && model.lastReceiptOfAgent != null && model.lastReceiptOfAgent.money != null){
				@inputNumber("代理人最终确认返利金额", "lastReceiptOfAgent.money", model.lastReceiptOfAgent.money, false)
			}else{
				@inputNumber("代理人最终确认返利金额", "lastReceiptOfAgent.money", null, false)
			}
			@if(model != null && model.lastReceiptOfAgent != null && model.lastReceiptOfAgent.info != null){
				@textarea("代理人最终确认说明", "lastReceiptOfAgent.info", model.lastReceiptOfAgent.info, false)
			}else{
				@textarea("代理人最终确认说明", "lastReceiptOfAgent.info", null, false)
			}

			<input class="input-large" type="hidden" name="table" value="agent_rebate">
			@if(model != null){
				<input class="input-large" type="hidden" name="rebateId" value="@model.id">
			} else {
				<input class="input-large" type="hidden" name="rebateId">
			}
			<hr>
			<div class="control-group row">
    		<div class="controls">
      			<button type="submit" class="btn btn-large btn-success btn-block span2">提交</button>
    	</div>
  </div>
</form>
	</div>
</div>
