@(model:Enroll)

@import basic.common._
@import basic.common.basicform._
@initTooltip()
@bootstrapDatetimepicker()

@toolbar_header={
<div class="row">
	<div class="span2">
		<h4>付款确认</h4>
	</div>
</div>
} 

<script type="text/javascript">
    $(document).ready( function() {
			$('#myform').submit(function() {
		    $(this).ajaxSubmit(ajaxSubmitOptions);
		    return false;
			});
		});
</script>


@toolbar_header
<div class="table-responsive">
	<div style="overflow: auto">
		<form class="form-horizontal" id="myform" method="post" action="@routes.AgentController.addOrUpdateEntity()">
	
			@form_validate_info()
			@inputText("课程名称", "coursename", model.course.name, true)		
			@inputNumber("课程费用", "coursemoney", model.course.money, true)
			@datetimePicker("开课时间", "coursetime", model.course.startTime,true)
			<!--
			@if(model != null && model.confirmOfStu != null && model.confirmOfStu.money != null){
				@inputNumber("付款金额", "stumoney", model.confirmOfStu.money, true)
			}else{
				@inputNumber("付款金额", "stumoney", null, true)
			}

			@if(model != null && model.confirmOfStu != null && model.confirmOfStu.time != null){
				@datetimePicker("付款时间", "stutime", model.confirmOfStu.time,true)
			}else{
				@datetimePicker("付款时间", "stutime", null,true)
			}
			@if(model != null && model.confirmOfStu != null && model.confirmOfStu.info != null){
				@textarea("付款说明", "stuinfo", model.confirmOfStu.info, true)
			}else{
				@textarea("付款说明", "stuinfo", null, true)
			}

			@if(model != null && model.confirmOfEdu != null && model.confirmOfEdu.money != null){
				@inputNumber("收款金额", "edumoney", model.confirmOfEdu.money, false)
			}else{
				@inputNumber("收款金额", "edumoney", null, false)
			}

			@if(model != null && model.confirmOfEdu != null && model.confirmOfEdu.time != null){
				@datetimePicker("收款时间", "edutime", model.confirmOfEdu.time,true)
			}else{
				@datetimePicker("收款时间", "edutime", null,true)
			}
			@if(model != null && model.confirmOfEdu != null && model.confirmOfEdu.info != null){
				@textarea("收款说明", "eduinfo", model.confirmOfEdu.info, false)
			}else{
				@textarea("收款说明", "eduinfo", null, false)
			}
			-->
			@if(model != null && model.confirmOfAgent != null && model.confirmOfAgent.money != null){
				@inputNumber("收款金额", "money", model.confirmOfAgent.money, false)
			}else{
				@inputNumber("收款金额", "money", null, false)
			}

			@if(model != null && model.confirmOfAgent != null && model.confirmOfAgent.time != null){
				@datetimePicker("收款时间", "time", model.confirmOfAgent.time,true)
			}else{
				@datetimePicker("收款时间", "time", null,true)
			}
			@if(model != null && model.confirmOfAgent != null && model.confirmOfAgent.info != null){
				@textarea("收款说明", "info", model.confirmOfAgent.info, false)
			}else{
				@textarea("收款说明", "info", null, false)
			}
  		
			<input class="input-large" type="hidden" name="table" value="agent_receipt">
			@if(model != null){
				<input class="input-large" type="hidden" name="enrollId" value="@model.id">
			} else {
				<input class="input-large" type="hidden" name="enrollId">
			}
			<hr>
			<div class="control-group row">
    		<div class="controls">
      			<button type="submit" class="btn btn-large btn-success btn-block span2">提交</button>
    	</div>
  </div>
</form>
	</div>
</div>
