<div style="min-height: 500px">
	<p><b>基本信息管理</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAgentPage(this, 'agentInfo')">个人基本信息</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAgentPage(this, 'agentDomain')">域名管理</button>
		</div>
	</div>

	<p><b>模板管理</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getTemplatePage(this, 'useAgentTemplate')">使用模板</button>
		</div>
	</div>

	<p><b>课程管理</b></p>
	<div class="row" style="margin-bottom:30px;">
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAgentPage(this, 'agentCourses')">查看代理课程</button>
		</div>
		<div class="span2">
			<button type="button" class="btn btn-large btn-primary btn-block" onclick="getAgentPage(this, 'allCourse')">申请代理课程</button>
		</div>
	</div>
</div>
