@(messages: com.avaje.ebean.Page[Message])
@import basic.platform._
@import basic.common._
@initTooltip()
@baseUrl=@{
	var url = "contact_us";
	url
}


<script type="text/javascript">
    $(document).ready( function() {
			$('#myform').submit(function() {
		    $(this).ajaxSubmit(ajaxSubmitOptions);
		    return false;
			});
		});

</script>
<!-- content -->
<div class="ym-wrapper">
	<div class="ym-wbox">
		<div class="ym-grid linearize-level-1">
			<div class="ym-g66 ym-gl">
				<div class="ym-gbox-left">
					<h2><strong>关于我们</strong></h2>
					<p style="margin:10px;">我们是一家专注在职教育，社会人员培训的企业。</p>
					<h3><strong>联系方式</strong></h3>
					<p style="margin:10px;">杭州市西湖区，浙江大学玉泉校区，玉古路80号。</p>
					
					<!--留言列表开始-->
					<h3><strong style="font-size:16px;">最新留言</strong></h3>
					@for((item, index) <- messages.getList().zipWithIndex){
						<div style="margin-top:10px;margin-bottom:10px;">
							<strong>@{index+1}.&nbsp;@item.title</strong>
							<p>@item.content</p>
						</div>
					}
					@paging(messages, {baseUrl}, "platform")
					<!--留言列表结束-->
				
					<h3><b>联系我们</b></h3>                                                                                                                                
                    <form id="myform" class="ym-form ym-full" method="post" action="@routes.CommonController.addOrUpdateEntity()">  
                    	<input class="input-large" type="hidden" name="table" value="@Message.TABLE_NAME">
                      <h6 class="ym-fbox-heading">联系我们</h6>  
                      <div class="ym-fbox">    
                        <div class="ym-fbox-wrap ym-grid">       
                          <div class="ym-g50 ym-gl">        
                            <div class="ym-gbox">          
                              <label for="your-id7">姓名<sup class="ym-required" title="This field is mandatory.">*</sup></label>          
                              <input type="text" name="name" id="name"/>        
                            </div>      
                          </div>      
                          <div class="ym-g50 ym-gr">        
                            <div class="ym-gbox-right">          
                              <label for="your-id8">邮箱<sup class="ym-required" title="This field is mandatory.">*</sup></label>          
                              <input type="text" name="email" id="email"/>        
                            </div>      
                          </div>  
                          <div class="ym-g50 ym-gr">        
                            <div class="ym-gbox-right">          
                              <label for="your-id8">电话<sup class="ym-required" title="This field is mandatory.">*</sup></label>          
                              <input type="text" name="phone" id="phone"/>        
                            </div>      
                          </div>  
                          <div class="ym-g50 ym-gr">        
                            <div class="ym-gbox-right">          
                              <label for="your-id8">QQ<sup class="ym-required" title="This field is mandatory.">*</sup></label>          
                              <input type="text" name="qq" id="qq"/>        
                            </div>      
                          </div>
                             
                        </div>  
                      </div>  
                          <div class="ym-fbox">         
                              <label for="your-id8">地址<sup class="ym-required" title="This field is mandatory.">*</sup></label>          
                              <input type="text" name="address" id="address"/>        
                            </div>      
        


                      <div class="ym-fbox">    
                        <label for="your-id9">主题<sup class="ym-required" title="This field is mandatory.">*</sup></label>    
                        <input type="text" name="title" id="title"/>  
                      </div>  
                      <div class="ym-fbox">    
                        <label for="your-id10">留言<sup class="ym-required" title="This field is mandatory.">*</sup></label>    
                        <textarea name="content" id="content" rows="6"></textarea>  
                      </div>  
                      <div class="ym-fbox-footer">    
                        <button type="submit" class="ym-primary ym-email" id="submit-your-id9">留言</button>  
                      </div>
                    </form> 
				</div>
			</div>
			<div class="ym-g33 ym-gr">
				<div class="ym-gbox-right">
					<div id ="platformEducation2"></div>
                                <div id="platformAdv2"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function getAdvPage2(li, url, data){
     data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#platformAdv2");
     $("#navList li.active").removeClass("active");
     $(li).addClass("active");
  }

  getAdvPage2(this, "platformAdv2");
function getEduPage2(li, url, data){
     data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#platformEducation2");
     $("#navList li.active").removeClass("active");
     $(li).addClass("active");
  }

  getEduPage2(this, "platformEducation2");
</script>
