@import basic.platform._

@basic.platform.main("平台"){@meta()}{@styles()}{@scripts()}{@nav()}{@header()}{
<script type="text/javascript">
function getPlatformPage(li, url, data){
    data = data||"";
    ajaxBasic("/platform/" +url,data,"GET","#content");
  }
  function getAdvPage(li, url, data){
     data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#advPic");
     $("#navList li.active").removeClass("active");
     $(li).addClass("active");
  }

  getAdvPage(this, "platformAdv");
</script>
<!-- content -->
<div class="ym-wrapper">
	<div class="ym-wbox">
            <section class ="box info">
            <div id="advPic"></div>
          </section>
		<div class="ym-grid linearize-level-1" id="content">
			<div class="ym-g66 ym-gl">
				<div class="ym-gbox-left">
					<h2>平台简单介绍</h2>
					<p>平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍.</p>
					<h3>联系方式</h3>
					<p>联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式.</p>
					<h3>在线留言</h3>                                                                                                                                
                  <form>
                    <form class="ym-form ym-full">  
                      <h6 class="ym-fbox-heading">联系我们</h6>  
                      <div class="ym-fbox">    
                        <div class="ym-fbox-wrap ym-grid">      
                          <div class="ym-g33 ym-gl">        
                            <div class="ym-gbox-left">          
                              <label for="your-id6">问题</label>          
                              <select name="your-id6" id="your-id6" size="1">            
                                <option value="0">Please choose one</option>            
                                <option value="1">Select</option>            
                                <option value="2">Select</option>          
                              </select>        
                            </div>      
                          </div>      
                          <div class="ym-g33 ym-gl">        
                            <div class="ym-gbox">          
                              <label for="your-id7">姓名<sup class="ym-required" title="This field is mandatory.">*</sup></label>          
                              <input type="text" name="your-id7" id="your-id7"/>        
                            </div>      
                          </div>      
                          <div class="ym-g33 ym-gr">        
                            <div class="ym-gbox-right">          
                              <label for="your-id8">邮箱<sup class="ym-required" title="This field is mandatory.">*</sup></label>          
                              <input type="text" name="your-id8" id="your-id8"/>        
                            </div>      
                          </div>    
                        </div>  
                      </div>  
                      <div class="ym-fbox">    
                        <label for="your-id9">主题<sup class="ym-required" title="This field is mandatory.">*</sup></label>    
                        <input type="text" name="your-id9" id="your-id9"/>  
                      </div>  
                      <div class="ym-fbox">    
                        <label for="your-id10">留言</label>    
                        <textarea name="your-id10" id="your-id10" rows="6"></textarea>  
                      </div>  
                      <div class="ym-fbox-footer">    
                        <button type="submit" class="ym-primary ym-email" id="submit-your-id9">留言</button>  
                      </div>
                    </form>
                  </form> 
				</div>
			</div>
			<div class="ym-g33 ym-gr">
				<div class="ym-gbox-right">
					<div id ="platformEducation2"></div>
                                <div id="platformAdv2"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function getAdvPage2(li, url, data){
     data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#platformAdv2");
     $("#navList li.active").removeClass("active");
     $(li).addClass("active");
  }

  getAdvPage2(this, "platformAdv2");
function getEduPage2(li, url, data){
     data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#platformEducation2");
     $("#navList li.active").removeClass("active");
     $(li).addClass("active");
  }

  getEduPage2(this, "platformEducation2");
</script>
}{@footer()}
