@import basic.platform._

@basic.platform.main("平台"){@meta()}{@styles()}{@scripts()}{@nav()}{@header()}{
<!-- content -->
<div class="ym-wrapper">
	<div class="ym-wbox">
		<div class="ym-grid linearize-level-1">
			<div class="ym-g66 ym-gl">
				<div class="ym-gbox-left">
					<h2>平台简单介绍</h2>
					<p>平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍平台简单介绍.</p>
					<h3>联系方式</h3>
					<p>联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式联系方式.</p>
					<h3>在线留言</h3>                                                                                                                                
                  <form>
                    <form class="ym-form ym-full">  
                      <h6 class="ym-fbox-heading">联系我们</h6>  
                      <div class="ym-fbox">    
                        <div class="ym-fbox-wrap ym-grid">      
                          <div class="ym-g33 ym-gl">        
                            <div class="ym-gbox-left">          
                              <label for="your-id6">问题</label>          
                              <select name="your-id6" id="your-id6" size="1">            
                                <option value="0">Please choose one</option>            
                                <option value="1">Select</option>            
                                <option value="2">Select</option>          
                              </select>        
                            </div>      
                          </div>      
                          <div class="ym-g33 ym-gl">        
                            <div class="ym-gbox">          
                              <label for="your-id7">姓名<sup class="ym-required" title="This field is mandatory.">*</sup></label>          
                              <input type="text" name="your-id7" id="your-id7"/>        
                            </div>      
                          </div>      
                          <div class="ym-g33 ym-gr">        
                            <div class="ym-gbox-right">          
                              <label for="your-id8">邮箱<sup class="ym-required" title="This field is mandatory.">*</sup></label>          
                              <input type="text" name="your-id8" id="your-id8"/>        
                            </div>      
                          </div>    
                        </div>  
                      </div>  
                      <div class="ym-fbox">    
                        <label for="your-id9">主题<sup class="ym-required" title="This field is mandatory.">*</sup></label>    
                        <input type="text" name="your-id9" id="your-id9"/>  
                      </div>  
                      <div class="ym-fbox">    
                        <label for="your-id10">留言</label>    
                        <textarea name="your-id10" id="your-id10" rows="6"></textarea>  
                      </div>  
                      <div class="ym-fbox-footer">    
                        <button type="submit" class="ym-primary ym-email" id="submit-your-id9">留言</button>  
                      </div>
                    </form>
                  </form> 
				</div>
			</div>
			<div class="ym-g33 ym-gr">
				<div class="ym-gbox-right">
					<h5>加盟商</h5>
					<ul>
						<li>加盟商 A</li>
						<li>加盟商 B</li>
						<li>加盟商 C</li>
						<li>加盟商 D</li>
						<li>加盟商 E</li>
					</ul>
					<h5>广告</h5>
					<ul>
						<li>广告 1</li>
						<li>广告 2</li>
						<li>广告 3</li>
						<li>广告 4</li>
						<li>广告 5</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
}{@footer()}