@(model: Course)
@import basic.common._
@import basic.common.basicform._

@initTooltip()

<script type="text/javascript">
function showLocale(objD)
{
	var str,colorhead,colorfoot;
	var yy = objD.getYear();
	if(yy<1900) yy = yy+1900;
	var MM = objD.getMonth()+1;
	if(MM<10) MM = '0' + MM;
	var dd = objD.getDate();
	if(dd<10) dd = '0' + dd;
	var hh = objD.getHours();
	if(hh<10) hh = '0' + hh;
	var mm = objD.getMinutes();
	if(mm<10) mm = '0' + mm;
	var ss = objD.getSeconds();
	if(ss<10) ss = '0' + ss;
	var ww = objD.getDay();
	if  ( ww==0 )  colorhead="<font color=\"#FF0000\">";
	if  ( ww > 0 && ww < 6 )  colorhead="<font color=\"#373737\">";
	if  ( ww==6 )  colorhead="<font color=\"#008000\">";
	if  (ww==0)  ww="星期日";
	if  (ww==1)  ww="星期一";
	if  (ww==2)  ww="星期二";
	if  (ww==3)  ww="星期三";
	if  (ww==4)  ww="星期四";
	if  (ww==5)  ww="星期五";
	if  (ww==6)  ww="星期六";
	colorfoot="</font>"
	str =  yy + "-" + MM + "-" + dd ;
	return(str);
}
function tick2(time,id)
{
	var today;
	today = new Date(time);
	document.getElementById("localtimec"+id).innerHTML = showLocale(today);
	window.setTimeout("tick2()", 1000);
}
</script>
<script type="text/javascript">
function pageUserEnroll(li, url, data){
		 data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#platformUserEnroll");
		 $("#navList li.active").removeClass("active");
		 $(li).addClass("active");
	}
</script>
<style>
.fixed-div {
    position: fixed;
    top: 30%;
    left: 0;
}
</style>

<div>
	<div style="font-size:30px;"><center><b>@model.name</b></center></div>
	
	<div style="margin:10px;">
		<b><center>
		开课时间：
		<span  id="localtimec@model.id"></span>
			<script type="text/javascript">
			tick2(@model.startTime,@model.id);
			</script>
		&nbsp;&nbsp;&nbsp;&nbsp;
		学费：@model.money</center></b>
	</div>
	<br/>
	<div>

		@Html(model.detail)
		
		@if(model != null && model.qands != null && model.qands.size() > 0){
		<div class="fixed-div" style="border:1px solid gray;padding:10px;max-width:200px;">
			<div style="font-size:16px">关于&nbsp;<b>@model.name</b>&nbsp;的最新提问：</div>
				@for(qs <- model.qands){
					<b>问：@qs.question</b>
						<br/> 
							答：@qs.answer
						<br/>
					<div style="border:1px dashed gray;"></div>
				}
		</div>
		}
	</div>

	<button type="submit" class="ym-button ym-success ym-large" onClick = "getPlatformPage(this, 'pageUserEnroll', 'courseId=@model.id')">我要报名</button>

</div>
<div id="platformUserEnroll"></div>