@import basic.platform._

@basic.platform.main("平台"){@meta()}{@styles()}{@scripts()}{@nav()}{@header()}{

<!-- content -->
<div class="ym-wrapper">
	<div class="ym-wbox">
		<div class="ym-grid linearize-level-1">
			<div class="ym-g33 ym-gl">
				<div class="ym-gbox-left">
					<h2>教育机构</h2>
					<img src="http://placehold.it/360x96" alt="dummy image"
						class="flexible" />
					<p>教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构教育机构</p>
					<div class="ym-wrapper">
						<div class="ym-wbox">
							<button type="button" class="ym-button ym-success ym-large">立即加入</button>
						</div>
					</div>
				</div>
			</div>
			<div class="ym-g33 ym-gl">
				<div class="ym-gbox">
					<h2>分销商</h2>
					<img src="http://placehold.it/360x96" alt="dummy image"
						class="flexible" />
					<p>分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商分销商.</p>
				</div>
				<div class="ym-wrapper">
					<div class="ym-wbox">
						<button type="button" class="ym-button ym-success ym-large">立即加入</button>
					</div>
				</div>
			</div>
			<div class="ym-g33 ym-gl">
				<div class="ym-gbox-right">
					<h2>培训讲师</h2>
					<img src="http://placehold.it/360x96" alt="dummy image"
						class="flexible" />
					<p>培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师培训讲师</p>
				</div>
			</div>
			<div class="ym-wrapper">
				<div class="ym-wbox">
					<button type="button" class="ym-button ym-success ym-large">立即加入</button>
				</div>
			</div>
		</div>
	</div>
</div>

}{@footer()}
