@import basic.platform._

@basic.platform.main("平台"){@meta()}{@styles()}{@scripts()}{@nav()}{@header()}{
<script type="text/javascript">
function getPlatformPage(li, url, data){
  	data = data||"";
  	ajaxBasic("/platform/" +url,data,"GET","#content");
  }
  function getEducationPage(li, url, data){
		 data = data || "";
     ajaxBasic("/education/" + url, data, "GET", "#content");
		 $("#navList li.active").removeClass("active");
		 $(li).addClass("active");
	}
</script>

  <script type="text/javascript">
  	function ajaxBasic2(ajaxUrl, ajaxData, method, promptObj) {
	// 接收提示信息的div有一个默认值'#content'
	promptObj = promptObj || '#content';
	// 请求方式method有默认值get
	method = method || 'post';
	var ajaxOptions = {
		url : ajaxUrl,
		type : method, // 请求数据的方式
		contentType : "application/x-www-form-urlencoded; charset=utf-8",
		async : true, // 是否是异步传输
		cache : false, // 使用缓存
		dataType : 'html', // 从服务器返回的数据类型
		data : ajaxData,// 传输到服务器的数据
		beforeSend : function() {
			$('.myprompt').hide();
			$(promptObj).html('<div class="progress progress-striped active"><div class="bar" style="width: 100%;">加载中...</div><div>');
		},
		success : function(html) {
			$(promptObj).html(html);
			
			$('#news-container').vTicker({ 
				speed: 500,
				pause: 3000,
				animation: 'fade',
				mousePause: false,
				showItems: 5
			});
				$('#news-container1').vTicker({
				speed: 700,
				pause: 4000,
				animation: 'fade',
				mousePause: false,
				showItems: 1
			});
			
			return true;
		},
		error : function(obj) {
			var message = obj.responseText || '服务器错误';
			$(promptObj).html('<div class="alert alert-danger"><center>' + message + '</center></div>');
			return false;
		}
	}
	$.ajax(ajaxOptions);
}

	function getAdvPage(li, url, data){
		 data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#advPic");
		 $("#navList li.active").removeClass("active");
		 $(li).addClass("active");
	}

	getAdvPage(this, "platformAdv");

	function getNewsCompPage(li, url, data){
		 data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#newsComp");
		 $("#navList li.active").removeClass("active");
		 $(li).addClass("active");
	}

	getNewsCompPage(this, "newsComp");

	getAdvPage(this, "platformAdv");

	function getStudentWordsCompPage(li, url, data){
		 data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#studentWordsComp");
		 $("#navList li.active").removeClass("active");
		 $(li).addClass("active");
	}

	getStudentWordsCompPage(this, "studentWordsComp");

	function getCourseCompPage(li, url, data){
		 data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#courseComp");
		 $("#navList li.active").removeClass("active");
		 $(li).addClass("active");
	}

	getCourseCompPage(this, "courseComp");

	function getTeacherCompPage(li, url, data){
		 data = data || "";
     ajaxBasic2("/platform/" + url, data, "GET", "#news-container");
		 $("#navList li.active").removeClass("active");
		 $(li).addClass("active");
	}

	getTeacherCompPage(this, "teacherComp");
  </script>
<!--主模块-->  
<div id="main"> 	    
  <div class="ym-wrapper"> 		    
    <div class="ym-wbox">		        	                
        	<section class ="box info">
		<div id="advPic"></div>
	</section>		        		        
      <div role="main" id="content" class="maincontent ym-grid"> 			        
        <div> 			            
          <div class="ym-gbox-left leftmiddle">
			<div class="left-module">
				<!--左侧栏模块1开始-->
				<div class="left-sub-module" id="newsComp"> 		            
				</div> 	
				<!--左侧栏模块1结束-->
				
				<!--左侧栏模块3开始-->
				<div class="left-sub-module" id="studentWordsComp"> 		                        			         
				</div> 	
				<!--左侧栏模块3结束-->
			</div>
			<div class="middle-module"><!--中间部分开始-->
				<!--中间栏模块1开始-->
				<div class="middle-sub-module1" id ="courseComp"><!--精品课程-->
					
				</div>
				<!--中间栏模块1结束-->
				
				<!--中间栏模块2开始-->
				<div class="middle-sub-module2" id="teacherComp"><!--推荐讲师-->
					<!--垂直滚动模块结束-->
					<h5><strong class="middle-title">推荐讲师</strong>
					<a href="#" onclick="getPlatformPage(this, 'teacher');">更多</a></h5>
					<!--垂直滚动模块开始-->
					<div id="news-container">
					</div>
				</div>
				<!--中间栏模块2结束-->
				
				<!--中间栏模块3开始-->
				<div class="middle-sub-module3">
					<h5></h5>
					<div class="module3-left">
						<h4 style="font-weight:bold; font-size:25px;">教育机构<h4>
						<p>
							<a class="readmore" href="#"  onclick="getEducationPage(this, 'regEducation');"  >
								加入我们 <span>→</span></a>
						</p>
					</div>
					<div class="module3-right">
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							培训的本义也有两种，一是思想素质理念教育，二是技能行为训练。 
							就是说除了“训”之外，还需要“练”。很多企业之所以培训无效，也就是
							忽略了教育之后的“训练”。 这个过程也是靠培训管理来实现的。也就是说，
							企业在员工接受培训之后，还要帮助员工消化和转化， 转化的过程就是行
							为训练的过程，也是一种内化过程，员工们必须把课堂上学到的东西内化为
							自己的行为习惯， 然后才能提升绩效。</p>
					</div>
					
				</div>
				
				<div class="middle-sub-module3">
					<h5></h5>
					<div class="module3-left">
						<h4 style="font-weight:bold; font-size:25px;">分销商<h4>
						<p>
							<a class="readmore" href="@routes.AgentController.page("index")" >
								加入我们 <span>→</span></a>
						</p>
					</div>
					<div class="module3-right">
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							 卓越的团队建设不需要领导提醒团队成员竭尽全力工作，
							 因为他们很清楚需要做什么， 他们会彼此提醒注意那些
							 无助于成功的行为和活动。而不够优秀的团队建设一般对
							 于不可接受的行为采取向 领导汇报的方式，甚至更恶劣：
							 在背后说闲话。这些行为不仅破坏团队的士气，而且让那
							 些本来容易解决的 问题迟迟得不到办理。</p>
					</div>
					
				</div>
				
				<div class="middle-sub-module3">
					<h5></h5>
					<div class="module3-left">
						<h4 style="font-weight:bold; font-size:25px;">培训讲师<h4>
						<p>
							<a class="readmore" href="@routes.EducationController.page("index")" >
								加入我们 <span>→</span></a>
						</p>
					</div>
					<div class="module3-right">
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							培训师的偶像，郭德纲恐怕算是一个。郭氏对相声事业的执着苦练，
							善于洞察世间冷暖， 言辞通俗而不粗俗，在笑声中让人感悟人生、
							化解烦恼，一场相声做到这个份上算是足够到位了。郭德纲的言谈
							举止，气场十足，自信满满，这与他早年的闯荡与拼搏是分不开，
							一个没有故事的人，气场只能是装出来的。</p>
					</div>
					
				</div>
				<!--中间栏模块3结束-->
				
			</div><!--中间部分结束-->
          </div>			        
        </div> 			        
        	        
      </div> 		    
    </div>	    
  </div> 	
</div>
 <!--qq在线客服 begin -->
        <div id="qqbox">
            <span>QQ在线咨询</span>
            <a target=blank  href=http://wpa.qq.com/msgrd?V=1&Uin=563596480&Site=http://www.mudiao.com&Menu=yes >
                <img src="@routes.Assets.at("/datas/logos", {"QQChat.jpg"})" alt="在线咨询" border="0" align="absmiddle" >
            </a>
        </div>
        <!--在线客服 end -->

}{@footer()}
