@(model: Contract)
@import basic.education._
@import basic.common._
@import basic.common.basicform._

<div class="table-responsive">
	<div style="overflow: auto">
		<div style="font-size:30px;font-weight:200;margin:20px;"><center><b>@model.name</b></center></div>
		<div style="max-width:900px;border:1px solid grey;padding:10px;margin:auto;">
			@Html(model.detail)
		</div>		

		<hr>
		<div class="control-group row">
    			<div class="controls">		
				<button class="btn btn-large btn-success btn-block span7"  onclick="getPlatformPage(this, 'addEducation');" >同意协议</button>
					
    			</div>
  		</div>
	</div>
</div>

