
<div class="ym-wrapper">
	<div class="ym-wbox">
		<div class="ym-grid linearize-level-1">
			<div class="ym-g50 ym-gl">
				<form class="ym-form ym-columnar">
					<h6 class="ym-fbox-heading">登录</h6>
					<div class="ym-fbox">
						<label for="your-id11">用户名</label> <input type="text"
							name="your-id11" id="your-id11" />
					</div>
					<div class="ym-fbox">
						<label for="your-id12">密码</label> <input type="password"
							name="your-id12" id="your-id12" />
					</div>
					<div class="ym-fbox">
						<div class="ym-fbox-wrap">
							<input type="checkbox" name="your-id13" id="your-id13" /> <label
								for="your-id13">记住密码 <a href="#">忘记密码</a></label>
						</div>
					</div>
					<div class="ym-fbox">
						<div class="ym-fbox-wrap">
							<button type="submit" class="ym-primary" id="submit-your-id14">登录</button>
							<button type="button" id="submit-your-id15">帮助</button>
						</div>
					</div>
					<div class="ym-fbox">
						<p class="box error">
							<strong>登录失败!</strong> 用户名或密码错误.
						</p>
					</div>
				</form>
			</div>
			<div class="ym-g50 ym-gr">
				<form class="ym-form ym-columnar">
					<h6 class="ym-fbox-heading">注册</h6>
					<div class="ym-fbox">
						<label for="your-id16">First Name</label> <input type="text"
							name="your-id16" id="your-id16" />
					</div>
					<div class="ym-fbox">
						<label for="your-id17">Last Name</label> <input type="text"
							name="your-id17" id="your-id17" />
					</div>
					<div class="ym-fbox">
						<label for="your-id18">E-Mail Address</label> <input type="text"
							name="your-id18" id="your-id18" />
					</div>
					<div class="ym-fbox">
						<label for="your-id19">Username</label> <input type="text"
							name="your-id19" id="your-id19" />
					</div>
					<div class="ym-fbox">
						<label for="your-id20">Password</label> <input type="password"
							name="your-id20" id="your-id20" />
					</div>
					<div class="ym-fbox">
						<div class="ym-fbox-wrap">
							<input type="checkbox" name="your-id21" id="your-id21" /> <label
								for="your-id21">I agree all <a href="#">Terms of
									Services</a></label>
						</div>
					</div>
					<div class="ym-fbox">
						<div class="ym-fbox-wrap">
							<button type="submit" class="ym-primary" id="submit-your-id22">Sign
								up</button>
							<button type="button" id="submit-your-id23">Help</button>
						</div>
					</div>
					<div class="ym-fbox">
						<p class="box success">
							<strong>Confirmation:</strong> A confirmation email has been sent
							to your email. Thank you for your registration.
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
