@import basic.platform._
@import basic.common._
@initTooltip()
@basic.platform.main("注册"){@meta()}{@styles2()}{@scripts()}{@nav()}{@header()}{
<style type="text/css">
.form-signin {
	max-width: 350px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
</style>

<!-- content -->
<div class="container" id="content" style="border:none;">
	<div class="row">
		<div class="span12">
				<button class="btn btn-large btn-primary btn-block" onclick="getPlatformPage(this, 'regEducation');">注册教育机构</button>

				<button class="btn btn-large btn-primary btn-block" onclick="getPlatformPage(this, 'regAgent');">注册代理人</button>

				<button class="btn btn-large btn-primary btn-block" onclick="getPlatformPage(this, 'regTeacher');">注册讲师</button>
					
				
		</div>
	</div>
</div>
}{@footer()}