@(models: com.avaje.ebean.Page[StudentWords])
@import basic.platform._
@import basic.common._

@baseUrl=@{
	var url = "studentWords";
	url
}
<!-- content -->
<div class="ym-wrapper">
	<div class="ym-wbox">
		<div class="ym-grid linearize-level-1">
			<div class="ym-g66 ym-gl">
					<div class="ym-gbox"><h1><strong>学员感言</strong></h1></div>
					@for(model <- models.getList()){
						<div class="ym-gbox" style="margin-top:5px;margin-bottom:5px;">
							<span style="font-size:16px;font-wight:200">
								<b>
								@model.company
								&nbsp;&nbsp;&nbsp;
								@model.name
								</b>
							</span>
							<h6 style="margin:10px;margin-bottom:20px;">@model.words</h6>
						</div>
					}
					<div class="ym-gbox">@paging(models, {baseUrl}, "platform")</div>
			</div>
			<div class="ym-g33 ym-gr">
				<div class="ym-gbox-right">
					<div id="platformEducation2"></div>
					<div id="platformAdv2"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function getAdvPage2(li, url, data){
		 data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#platformAdv2");
		 $("#navList li.active").removeClass("active");
		 $(li).addClass("active");
	}

	getAdvPage2(this, "platformAdv2");
function getEduPage2(li, url, data){
     data = data || "";
     ajaxBasic("/platform/" + url, data, "GET", "#platformEducation2");
     $("#navList li.active").removeClass("active");
     $(li).addClass("active");
  }

  getEduPage2(this, "platformEducation2");

</script>
