@(models: com.avaje.ebean.Page[StudentWords])
@import basic.platform._
@import basic.common._
<script type="text/javascript">
function getPlatformPage(li, url, data){
  	data = data||"";
  	ajaxBasic("/platform/" +url,data,"GET","#content");
  }
</script>
<h5><strong class="left-title">学员感言</strong>
<a href="#" onclick="getPlatformPage(this, 'studentWords');">更多</a></h5>
<div class="left-content">
	@for(model <-models.getList()){
	<div class="speak">
		<b>@model.company @model.name</b><!--标题-学员姓名-->
		<p style="font-size:smaller">@model.words</p>
	</div>
	}
	
</div>