@(model: Agent)

@import basic.common._
@import basic.common.basicform._

@bootstrapDatetimepicker()

@toolbar_header={
<div class="row">
	<div class="span2">
		<h4>代理人详情</h4>
	</div>
	<div class="btn-toolbar pull-right" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-success" data-toggle="新增" href="#" onclick="doAddNew('#myform')"><i
				class="icon-plus icon-white"></i>新增</a>
		</div>
		<div class="btn-group">
			<a class="btn btn-info" data-toggle="编辑" href="#" onclick="toggleAllEdit(this, '#myform')"><i
				class="icon-edit icon-white"></i>编辑</a>
		</div>
	</div>
</div>
} 

<script type="text/javascript">
    $(document).ready( function() {
			$('#myform').submit(function() {
		    $(this).ajaxSubmit(ajaxSubmitOptions);
		    return false;
			});
		});
</script>
@toolbar_header

<div id="aaa"></div>

<div class="table-responsive">
	<div style="overflow: auto">
	<form class="form-horizontal" id="myform" method="post" action="@routes.CommonController.addOrUpdateEntity()">
		
			@form_validate_info()
    
  		@if(model != null){
				@inputText("代理人名称", "name", model.name, true)
			} else {
				@inputText("代理人名称", "name", null, false)
			}
			
			@if(model != null){
				@inputText("联系方式", "contact", model.contact, true)
			} else {
				@inputText("联系方式", "contact", null, false)
			}
  		
  		@if(model != null){
				@textarea("代理简介", "info", model.info, true)
			} else {
				@textarea("代理简介", "info", null, false)
			}

			<input class="input-large" type="hidden" name="table" value="@Agent.TABLE_NAME">
			@if(model != null){
				<input class="input-large" type="hidden" name="id" value="@model.id">
			} else {
				<input class="input-large" type="hidden" name="id">
			}
			<hr>
			<div class="control-group row">
    		<div class="controls">
					@if(model != null){
							<button type="submit" class="btn btn-large btn-success btn-block span2" disabled="disabled">提交</button>
					} else {
							<button type="submit" class="btn btn-large btn-success btn-block span2">提交</button>
					}
    	</div>
  		</div>
		
	</form>
	</div>
</div>
