@(model: Course, types: List[CourseType], cClass: List[CourseClass])

@import basic.common._
@import basic.common.basicform._
@import module.basic._
@toolbar_header={
<div class="row">
	<div class="span2">
		<h4>课程详情</h4>
	</div>
	<div class="btn-toolbar pull-right" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-success" data-toggle="新增" href="#" onclick="doAddNew('#myform')"><i
				class="icon-plus icon-white"></i>新增</a>
		</div>
		<div class="btn-group">
			<a class="btn btn-info" data-toggle="编辑" href="#" onclick="toggleAllEdit(this, '#myform'),toggleAllEdit(this, '#myform1')"><i
				class="icon-edit icon-white"></i>编辑</a>
		</div>
	</div>
</div>
} 

@toolbar_header

@navBasic(Array("代理人列表", "代理记录",  "基本信息", "返点详情"), Array("nav1", "nav2", "nav3", "nav4"))
@if(model !=null &&model.agents !=null){
	@agentList(model.agents, "nav1")
}
@if( model !=null && model.distributions != null ){
	@courseDistributionList(model.distributions, "nav2")
}
@courseInfo(model, types, cClass, "nav3")
@courseRebateTypeInfo(model, "nav4")
