@(model: EducationInstitution)

@toolbar_header={
<div class="row">
	<div class="span2">
		<h4>教育机构详情</h4>
	</div>
	<div class="btn-toolbar pull-right" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-success" data-toggle="新增" href="#" onclick="doAddNew('#myform')"><i
				class="icon-plus icon-white"></i>新增</a>
		</div>
		<div class="btn-group">
			<a class="btn btn-info" data-toggle="编辑" href="#" onclick="toggleAllEdit(this, '#myform')"><i
				class="icon-edit icon-white"></i>编辑</a>
		</div>
	</div>
</div>
} 

@toolbar={
<!-- <script type="text/javascript">
$('#toolbar').tooltip(options);
</script> -->
<div class="pull-left" style="width:130px;">
	<div class="btn-group" id="toolbar">
		<a class="btn btn-success" data-toggle="审核通过" href="#"><i
			class="icon-ok icon-white"></i></a> 
    <a class="btn btn-info"
			data-toggle="拒绝通过" href="#"><i class="icon-ban-circle icon-white"></i></a>
	</div>
	<div class="btn-group">
		<a class="btn btn-danger" data-toggle="删除，请谨慎操作！" href="#"><i
			class="icon-remove icon-white"></i></a>
	</div>
</div>
} 

@paging={
<div class="pagination">
	<ul>
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</div>
} 

@toolbar_header

<div class="table-responsive">
	<div style="overflow: auto">
		<form class="form-horizontal" id="myform">
  		<div class="control-group">
    		<label class="control-label">机构名称</label>
    		<div class="controls">
      		<input class="input-xxlarge" type="text" value="@model.name" readonly="readonly">
    		</div>
  		</div>
	  		
			<div class="control-group">
    		<label class="control-label">创建者</label>
    		<div class="controls">
      		<input class="input-large" type="text" value="@model.creator.username" readonly="readonly">
    		</div>
  		</div>

			<div class="control-group">
    		<label class="control-label">创建日期</label>
    		<div class="controls">
      		<input class="input-large" type="text" value="@model.createTime" readonly="readonly">
    		</div>
  		</div>

			<hr>
			<div class="control-group row">
    		<div class="controls">
      		<button type="button" class="btn btn-large btn-success btn-block span2 disabled">提交</button>
    	</div>
  </div>
</form>
	</div>
</div>
