@(model: Message)
@import basic.common._
@import basic.common.basicform._
@initTooltip()
@bootstrapDatetimepicker()
@toolbar_header={
<div class="row">
	<div class="span2">
		<h4>留言详情</h4>
	</div>
	<div class="btn-toolbar pull-right" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-default" rel="tooltip" title="上一条" href="#"><i
				class="icon-arrow-left"></i>上一条</a>
			<a class="btn btn-default" rel="tooltip" title="下一条" href="#"><i
				class="icon-arrow-right"></i>下一条</a>
		</div>	
		<!--<div class="btn-group">
			<a class="btn btn-danger" rel="tooltip" title="删除" href="#"><i
				class="icon-remove icon-white"></i>删除</a>
		</div>-->
	</div>
</div>
} 

@toolbar_header

<div class="table-responsive">
	<div style="overflow: auto">
		<form class="form-horizontal" id="myform">

			<div class="control-group">
    		<label class="control-label">留言人</label>
    		<div class="controls">
      		<input class="input-large" type="text" value="@model.name" >
    		</div>
  		</div>

			<div class="control-group">
    		<label class="control-label">留言电话</label>
    		<div class="controls">
      		<input class="input-large" type="text" value="@model.phone" >
    		</div>
  		</div>

			<div class="control-group">
    		<label class="control-label">qq</label>
    		<div class="controls">
      		<input class="input-large" type="text" value="@model.qq" >
    		</div>
  		</div>

			<div class="control-group">
    		<label class="control-label">email</label>
    		<div class="controls">
      		<input class="input-large" type="text" value="@model.email" >
    		</div>
  		</div>

			<div class="control-group">
    		<label class="control-label">地址</label>
    		<div class="controls">
      		<input class="input-xxlarge" type="text" value="@model.address" >
    		</div>
  		</div>
	
			<div class="control-group">
    		<label class="control-label">标题</label>
    		<div class="controls">
      		<input class="input-xxlarge" type="text" value="@model.title">
    		</div>
  		</div>

			<div class="control-group">
    		<label class="control-label">留言</label>
    		<div class="controls">
      		<textarea rows="5" class="input-xxlarge" type="text">@model.content</textarea>
    		</div>
  		</div>

			@if(model != null){
				@datetimePicker("留言时间", null, model.time, true, true)				
			} else {
				@datetimePicker("留言时间", null, null, true, true)
			}
  </div>
</form>
	</div>
</div>
