@(model: User)

@import basic.common._

@toolbar_header={
<div class="row">
	<div class="span2">
		<h4>用户详细资料</h4>
	</div>
	<div class="btn-toolbar pull-right" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-success" data-toggle="新增" href="#" onclick="doAddNew('#myform')"><i
				class="icon-plus icon-white"></i>新增</a>
		</div>
		<div class="btn-group">
			<a class="btn btn-info" data-toggle="编辑" href="#" onclick="toggleAllEdit(this, '#myform')"><i
				class="icon-edit icon-white"></i>编辑</a>
		</div>
	</div>
</div>
} 

<script type="text/javascript">
    $(document).ready( function() {
			$('#myform').submit(function() {
		    $(this).ajaxSubmit(ajaxSubmitOptions);
		    return false;
			});
		});
</script>
@toolbar_header

<div id="aaa"></div>

<div class="table-responsive">
	<div style="overflow: auto">
<form class="form-horizontal" id="myform" method="post" action="@routes.CommonController.addOrUpdateEntity()">
		
			@form_validate_info()
    
  		<div class="control-group">
    		<label class="control-label">帐号</label>
    		<div class="controls">
					@if(model != null){
      			<input class="input-xxlarge" type="text" name="username" value="@model.username" readonly="readonly">
					} else {
						<input class="input-xxlarge" type="text" name="username">
					}
    		</div>
  		</div>
  		
  		<div class="control-group">
    		<label class="control-label">密码</label>
    		<div class="controls">
					@if(model != null){
      			<input class="input-xxlarge" type="text" name="password" value="@model.password" readonly="readonly">
					} else {
						<input class="input-xxlarge" type="text" name="password">
					}
    		</div>
  		</div>
  		
  		<div class="control-group">
    		<label class="control-label">昵称</label>
    		<div class="controls">
					@if(model != null){
      			<input class="input-xxlarge" type="text" name="nickname" value="@model.nickname" readonly="readonly">
					} else {
						<input class="input-xxlarge" type="text" name="nickname">
					}
    		</div>
  		</div>
  		
  		
  		<div class="control-group">
    		<label class="control-label">移动电话</label>
    		<div class="controls">
					@if(model != null){
      			<input class="input-xxlarge" type="text" name="mobile" value="@model.mobile" readonly="readonly">
					} else {
						<input class="input-xxlarge" type="text" name="mobile">
					}
    		</div>
  		</div>
  		
  		<div class="control-group">
    		<label class="control-label">邮箱地址</label>
    		<div class="controls">
					@if(model != null){
      			<input class="input-xxlarge" type="text" name="email" value="@model.email" readonly="readonly">
					} else {
						<input class="input-xxlarge" type="text" name="email">
					}
    		</div>
  		</div>
  		
  		<div class="control-group">
    		<label class="control-label">帐号状态</label>
    		<div class="controls">
					@if(model != null && model.audit != null){
      			<input class="input-xxlarge" type="text" name="status" value="@model.audit.status" readonly="readonly">
					} else {
						<input class="input-xxlarge" type="text" name="status">
					}
    		</div>
  		</div>
  		
			
			<input class="input-large" type="hidden" name="table" value="@User.TABLE_NAME">
			@if(model != null){
				<input class="input-large" type="hidden" name="id" value="@model.id">
			} else {
				<input class="input-large" type="hidden" name="id">
			}
			<hr>
			<div class="control-group row">
    		<div class="controls">
					@if(model != null){
							<button type="submit" class="btn btn-large btn-success btn-block span2 disabled">提交</button>
					} else {
							<button type="submit" class="btn btn-large btn-success btn-block span2">提交</button>
					}
    	</div>
  		</div>
		
	</form>
	</div>
</div>
