@(url: String, urlType: String, key: Array[String] = null, value: Array[String] = null)
@params=@{
	var paramsMap = new HashMap[String,String]();
	var array = flash().keySet().toArray();
	for(i <- 0 to array.length - 1){//put all into flash
		var k = String.valueOf(array(i));
		var v = flash().get(k);
		paramsMap.put(k, v);
	}

	if(key != null && value != null){
		for(i <- 0 to key.length - 1){
			paramsMap.put(key(i), value(i));
		}	
	}
	
	var params = "";
	array = paramsMap.keySet().toArray();
	for(i <- 0 to array.length - 1){
		var k = String.valueOf(array(i));
		var v = paramsMap.get(k);
		
		params = params + k + ":'" + v + "'";
		
		if(i != array.length - 1){
			params = params + ",";
		}
	}
	
	params
}

@urlType match {
  case "admin" => {
  	getAdminPage(this, '@url', {@params})
  }
  case "normal" => {
  }
  case "student" => {
  	getStudentPage(this, '@url', {@params})
  }
  case "platform" => {
  	getPlatformPage(this, '@url', {@params})
  }
  case "agent" => {
  	getAgentPage(this, '@url', {@params})
  }
  case "platform" => {
  	getEducationPage(this, '@url', {@params})
  }
}
