@(url: String, urlType: String, key: Array[String] = null, value: Array[String] = null, firstPage: Boolean = false)
@params=@{
	var paramsMap = new HashMap[String,String]();
	var array = flash().keySet().toArray();
	for(i <- 0 to array.length - 1){//put all into flash, values form flash
		var k = String.valueOf(array(i));
		var v = flash().get(k);
		paramsMap.put(k, v);
	}

	if(key != null && value != null){//values form params
		for(i <- 0 to key.length - 1){
			paramsMap.put(key(i), value(i));
		}	
	}
	
	if(firstPage){
		paramsMap.put("page", "0");
	}
	
	var params = "";
	array = paramsMap.keySet().toArray();
	for(i <- 0 to array.length - 1){
		var k = String.valueOf(array(i));
		var v = paramsMap.get(k);
		
		params = params + k + ":'" + v + "'";
		
		if(i != array.length - 1){
			params = params + ",";
		}
	}
	
	params
}

@urlType match {
  case "admin" => {
  	@if(value == null){<!--没有参数值才使用额外参数-->
  		getAdminPage(this, '@url', {@params}, @key.mkString("'", ";", "'"))
  	} else {
  		getAdminPage(this, '@url', {@params})
  	}
  }
  case "normal" => {
  }
  case "student" => {
  	getStudentPage(this, '@url', {@params})
  }
  case "teacher" => {
  	getTeacherPage(this, '@url', {@params})
  }
  case "platform" => {
  	getPlatformPage(this, '@url', {@params})
  }
  case "agent" => {
  	@if(value == null){<!--没有参数值才使用额外参数-->
  		getAgentPage(this, '@url', {@params}, @key.mkString("'", ";", "'"))
  	} else {
  		getAgentPage(this, '@url', {@params})
  	}
  }
  case "education" => {
  	getEducationPage(this, '@url', {@params})
  }
}
