<link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public", "bootstrap-wysihtml5/lib/css/prettify.css")"></link>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public", "bootstrap-wysihtml5/src/bootstrap-wysihtml5.css")"></link>
<script type="text/javascript" src="@routes.Assets.at("/public", "bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("/public", "bootstrap-wysihtml5/lib/js/prettify.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("/public", "bootstrap-wysihtml5/src/bootstrap-wysihtml5.js")"></script>
<!--中文-->
<script type="text/javascript" src="@routes.Assets.at("/public", "bootstrap-wysihtml5/src/locales/bootstrap-wysihtml5.zh-CN.js")"></script>
