@(models: com.avaje.ebean.Page[_ <: play.db.ebean.Model], url: String, urlType: String)

@params=@{
	var params = "";
	var array = flash().keySet().toArray();
	if(array != null){
		for(i <- 0 to array.length - 1){//put all into flash
			var key = String.valueOf(array(i));
			var value = flash().get(key);
			if(key != "page"){//该参数在下面已经传了，这里可以不用传
				params = params + key + ":'" + value + "',";
			}
		}
	}
	params
}

@urlType match {
    
  case "admin" => {
  	<div class="pagination">
		<ul>
		@if(models.hasPrev()){
			<li><a href="#" onclick="getAdminPage(null, '@url', {@params page:@(models.getPageIndex() - 1)})">&laquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&laquo;</a></li>
		}
		
		@for(i <- 1 to models.getTotalPageCount()){
			@if(i == models.getPageIndex() + 1){
				<li class="active"><a href="#" onclick="getAdminPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			} else {
				<li><a href="#" onclick="getAdminPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			}
		}
		
		@if(models.hasNext()){
			<li><a href="#" onclick="getAdminPage(null, '@url', {@params page:@(models.getPageIndex() + 1)})">&raquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&raquo;</a></li>
		}
		</ul>
		</div>
  }

  case "normal" => {
  }

  case "platform" => {
  	<div class="pagination">
		<ul>
		@if(models.hasPrev()){
			<li><a href="#" onclick="getPlatformPage(null, '@url', {@params page:@(models.getPageIndex() - 1)})">&laquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&laquo;</a></li>
		}
		
		@for(i <- 1 to models.getTotalPageCount()){
			@if(i == models.getPageIndex() + 1){
				<li class="active"><a href="#" onclick="getPlatformPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			} else {
				<li><a href="#" onclick="getPlatformPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			}
		}
		
		@if(models.hasNext()){
			<li><a href="#" onclick="getPlatformPage(null, '@url', {@params page:@(models.getPageIndex() + 1)})">&raquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&raquo;</a></li>
		}
		</ul>
		</div>
  }

  case "student" => {
  	<div class="pagination">
		<ul>
		@if(models.hasPrev()){
			<li><a href="#" onclick="getStudentPage(null, '@url', {@params page:@(models.getPageIndex() - 1)})">&laquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&laquo;</a></li>
		}
		
		@for(i <- 1 to models.getTotalPageCount()){
			@if(i == models.getPageIndex() + 1){
				<li class="active"><a href="#" onclick="getStudentPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			} else {
				<li><a href="#" onclick="getStudentPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			}
		}
		
		@if(models.hasNext()){
			<li><a href="#" onclick="getStudentPage(null, '@url', {@params page:@(models.getPageIndex() + 1)})">&raquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&raquo;</a></li>
		}
		</ul>
		</div>
  }
  case "teacher" => {
  	<div class="pagination">
		<ul>
		@if(models.hasPrev()){
			<li><a href="#" onclick="getTeacherPage(null, '@url', {@params page:@(models.getPageIndex() - 1)})">&laquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&laquo;</a></li>
		}
		
		@for(i <- 1 to models.getTotalPageCount()){
			@if(i == models.getPageIndex() + 1){
				<li class="active"><a href="#" onclick="getTeacherPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			} else {
				<li><a href="#" onclick="getTeacherPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			}
		}
		
		@if(models.hasNext()){
			<li><a href="#" onclick="getTeacherPage(null, '@url', {@params page:@(models.getPageIndex() + 1)})">&raquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&raquo;</a></li>
		}
		</ul>
		</div>
  }
  case "agent" => {
  	<div class="pagination">
		<ul>
		@if(models.hasPrev()){
			<li><a href="#" onclick="getAgentPage(null, '@url', {@params page:@(models.getPageIndex() - 1)})">&laquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&laquo;</a></li>
		}
		
		@for(i <- 1 to models.getTotalPageCount()){
			@if(i == models.getPageIndex() + 1){
				<li class="active"><a href="#" onclick="getAgentPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			} else {
				<li><a href="#" onclick="getAgentPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			}
		}
		
		@if(models.hasNext()){
			<li><a href="#" onclick="getAgentPage(null, '@url', {@params page:@(models.getPageIndex() + 1)})">&raquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&raquo;</a></li>
		}
		</ul>
		</div>
  }
  case "education" => {
  	<div class="pagination">
		<ul>
		@if(models.hasPrev()){
			<li><a href="#" onclick="getEducationPage(null, '@url', {@params page:@(models.getPageIndex() - 1)})">&laquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&laquo;</a></li>
		}
		
		@for(i <- 1 to models.getTotalPageCount()){
			@if(i == models.getPageIndex() + 1){
				<li class="active"><a href="#" onclick="getEducationPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			} else {
				<li><a href="#" onclick="getEducationPage(null, '@url', {@params page:@(i-1)})">@i</a></li>
			}
		}
		
		@if(models.hasNext()){
			<li><a href="#" onclick="getEducationPage(null, '@url', {@params page:@(models.getPageIndex() + 1)})">&raquo;</a></li>
		} else {
			<li class="disabled"><a href="#">&raquo;</a></li>
		}
		</ul>
		</div>
  }
}

